{% extends 'base.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" href="{{asset('./style/nabilStyle.css')}}">
<link rel="shortcut icon" href="{{asset('./assets/img/logo.svg')}}" type="image/x-icon">
{#
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> #}
{% endblock %}

{% block title %}
{{title}}
{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{#
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script> #}
{% endblock %}


{% block body %}


{% for message in app.flashes('warning') %}
<div class="flash flash__error">
    {{ message }}
</div>
{% endfor %}

{% for message in app.flashes('success') %}
<div class="flash flash__success">
    {{ message }}
</div>
{% endfor %}

<div class="form__container">

    <lottie-player class="form__ill__lottie-player" src="./assets/jsonAnimation/header2.json" background="transparent"
        speed="1" loop autoplay></lottie-player>

    <form class="form signupForm loginForm" method="post">
        {% if error %}
        <div class="flash flash__error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {# {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% endif %} #}

        <h1 class="form__heading">Log in</h1>

        <div class="form__input__group">
            <label class="form__input__label" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form__input"
                autocomplete="email" required autofocus placeholder="Email">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="form__input__icon">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
        </div>


        <div class="form__input__group">
            <label class="form__input__label" for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form__input"
                autocomplete="current-password" required placeholder="Password">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="form__input__icon">
                <path
                    d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4">
                </path>
            </svg>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

        <button class="navigation__primary-btn form__btn" type="submit">
            Log in
        </button>

        <a class="google-btn" href="{{path('connect_google_start')}}">
            <svg class="google-btn__icon" xmlns="http://www.w3.org/2000/svg" version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" x="0" y="0"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve">
                <g>
                    <path
                        d="m492.668 211.489-208.84-.01c-9.222 0-16.697 7.474-16.697 16.696v66.715c0 9.22 7.475 16.696 16.696 16.696h117.606c-12.878 33.421-36.914 61.41-67.58 79.194L384 477.589c80.442-46.523 128-128.152 128-219.53 0-13.011-.959-22.312-2.877-32.785-1.458-7.957-8.366-13.785-16.455-13.785z"
                        fill="#167EE6" data-original="#167ee6"></path>
                    <path
                        d="M256 411.826c-57.554 0-107.798-31.446-134.783-77.979l-86.806 50.034C78.586 460.443 161.34 512 256 512c46.437 0 90.254-12.503 128-34.292v-.119l-50.147-86.81c-22.938 13.304-49.482 21.047-77.853 21.047z"
                        fill="#12B347" data-original="#12b347"></path>
                    <path
                        d="M384 477.708v-.119l-50.147-86.81c-22.938 13.303-49.48 21.047-77.853 21.047V512c46.437 0 90.256-12.503 128-34.292z"
                        fill="#0F993E" data-original="#0f993e"></path>
                    <path
                        d="M100.174 256c0-28.369 7.742-54.91 21.043-77.847l-86.806-50.034C12.502 165.746 0 209.444 0 256s12.502 90.254 34.411 127.881l86.806-50.034c-13.301-22.937-21.043-49.478-21.043-77.847z"
                        fill="#FFD500" data-original="#ffd500"></path>
                    <path
                        d="M256 100.174c37.531 0 72.005 13.336 98.932 35.519 6.643 5.472 16.298 5.077 22.383-1.008l47.27-47.27c6.904-6.904 6.412-18.205-.963-24.603C378.507 23.673 319.807 0 256 0 161.34 0 78.586 51.557 34.411 128.119l86.806 50.034c26.985-46.533 77.229-77.979 134.783-77.979z"
                        fill="#FF4B26" data-original="#ff4b26"></path>
                    <path
                        d="M354.932 135.693c6.643 5.472 16.299 5.077 22.383-1.008l47.27-47.27c6.903-6.904 6.411-18.205-.963-24.603C378.507 23.672 319.807 0 256 0v100.174c37.53 0 72.005 13.336 98.932 35.519z"
                        fill="#D93F21" data-original="#d93f21"></path>
                </g>
            </svg>
            Connect with google
        </a>

        <p class="form__member">
            You don't have an account!
            <a class="form__member__link" href="{{path('app_registration')}}">Sign up!</a>
        </p>

        <p class="form__member">
            <a class="form__member__link" href="{{path('app_user_forgot_password')}}">Forgot password?</a>
        </p>
    </form>

</div>

{% endblock %}