{% extends 'dash_admin/dashAdminBase.html.twig' %}

{% block users_active%}active
{% endblock %}

{% block dashContent %}

<div class="dash__container">
  <nav class="dash__navbar">
    <div class="dash__navbar-text"></div>
    <div class="navbar__items">
      <a style="text-decoration: none;" href="{{path('app_logout')}}" class="navbar__item">
        <i class="bx bx-log-out item"></i>
      </a>

      <div class="notification-icon">
        <span class="cart-icon__span">3</span>
        <span class="navbar__item">
          <i class="bx bx-bell item"></i>
        </span>
      </div>

      <span class="dash__top-bar__fullname">{{user.fullname}}</span>

      <div class="dash__top-bar__img-container">
        <a href="#">
          <img src="{{asset('./assets/uploads/img/' ~ user.imgUrl)}}" class="dash__top-bar__img" alt="profile" />
        </a>
      </div>
    </div>
  </nav>
  <!--end dash__navbar-->

  <div class="dash__container-card">
    <div class="dash__card-title">Users List</div>
    {% for message in app.flashes('success') %}
    <div style="top: 10rem; left: 21rem" class="flash flash__success">
      {{ message }}
    </div>
    {% endfor %}
    <div class="users">
      <div class="users-list">
        <div class="users-list__body">
          <table class="user-table">
            <thead>
              <tr>
                <th>Full name</th>
                <th>email</th>
                <th>phone</th>
                <th>role</th>
                <th>account state</th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
              {% for oneUser in usersList %}
              {% if oneUser.getRoles()[0] != "ROLE_ADMIN" %}


              <tr class="one-user">
                <td class="fullname-td">
                  <div class="fullname-td__container">
                    <div class="fullname-td__img-container">
                      <img src="{{asset('./assets/uploads/img/' ~ oneUser.imgUrl)}}" alt=""
                        class="fullname-td__img-container__img" />
                    </div>
                    <div class="fullname-td__fullname-username">
                      <p class="fullname-td__fullname-username__fullname">
                        {{oneUser.fullname}}
                      </p>
                      <p class="fullname-td__fullname-username__username"></p>
                    </div>
                  </div>
                </td>
                <td>
                  {{oneUser.email}}</td>
                <td>
                  {{oneUser.tel}}</td>
                <td>
                  {% if oneUser.getRoles()[0] == "ROLE_USER" %}
                  individual
                  {% else %}
                  association
                  {% endif %}
                </td>
                <td class="stet-td">
                  {% if oneUser.state == true %}
                  <span class="state-td__active">active</span>
                  {% else %}
                  <span class="state-td__unactive">unactive</span>
                  {% endif %}
                  {# <span class="state-td__unactive">unactive</span> #}
                </td>
                <td class="btn-td">
                  {% if oneUser.state == true %}
                  <div>
                    <a style="display: flex; justify-content: center"
                      href="{{path('app_dash_admin_users_block',{id:oneUser.id})}}" class="btn-td__btn">
                      <img src="{{asset('./contents/img/lock-icon.png')}}" alt=""
                        class="btn-td__btn__icon block-icon" />
                    </a>
                  </div>
                  {% else %}
                  <div>
                    <a style="display: flex; justify-content: center"
                      href="{{path('app_dash_admin_users_unblock',{id:oneUser.id})}}" class="btn-td__btn">
                      <img src="{{asset('./assets/img/unlock-icon.png')}}" alt=""
                        class="btn-td__btn__icon block-icon" />
                    </a>
                  </div>
                  {% endif %}

                  <div>
                    <a href="{{path('app_dash_admin_users_update',{id: oneUser.id})}}" class="btn-td__bt"
                      style="background-color: transparent; border: none">
                      <i class="bx bxs-edit btn-td__btn"></i>
                    </a>
                  </div>
                </td>
              </tr>

              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}