{% extends 'dash_admin/dashAdminBase.html.twig' %}

{% block product_active %}active {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('./contents/css/style.css')}}" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
  <link rel="icon" href="{{asset('./contents/img/logo.png')}}" />
{% endblock %}

{% block dashContent %}
      <div class="dash__container">  
        <nav class="dash__navbar">
          <div class="dash__navbar-text">Dashboard</div>
          <div class="navbar__items">
            <span class="navbar__item">
              <i class="bx bx-log-out item"></i>
            </span>

            <div class="notification-icon">
              <span class="cart-icon__span">3</span>
              <span class="navbar__item">
                <i class="bx bx-bell item"></i>
              </span>
            </div>

            <span class="dash__top-bar__fullname"> Braiek Ali </span>

            <div class="dash__top-bar__img-container">
              <a href="#">
                <img
                  src="{{asset('./contents/img/ali.jpg')}}"
                  class="dash__top-bar__img"
                  alt="profile"
                />
              </a>
            </div>
          </div>
        </nav>
        <!--end dash__navbar-->

        <div class="dash__container-card">
          <div class="dash__card">
            <div class="dash__card-rightSide">
              <div class="dash__card-rightSide__first-row">
                <a
                  href="{{path('app_dash_admin_products_add')}}"
                  class="dash__card-rightSide__btn-container list-plus"
                  id="add-btn-rightSide"
                >
                  <i class="bx bx-list-plus"></i>
                  <div class="btn-hover-container" id="add-btn-hover-container">
                    Add New Product
                  </div>
                </a>
                <button
                  class="dash__card-rightSide__btn-container"
                  id="category-btn-rightSide"
                >
                  <i class="bx bx-category"></i>
                  <div
                    class="btn-hover-container Categories-hover"
                    id="category-btn-hover-container"
                  >
                    Categories
                  </div>
                </button>
              </div>
            </div>
            <div class="product">
              <div class="product-title">Products List</div>

              {% for p in products %}
              <div class="product-card">
                <div class="product-card__image-container">
                  <img
                    src="{{asset('./contents/uploads/products/') ~ p.image}}"
                    alt="product"
                    class="product-card__image"
                  />
                </div>
                <div class="product-card__content">
                  <div>
                    <h1 class="product-card__title">
                      {{p.nomProduit}}
                    </h1>
                  </div>
                  <div class="product-card__row-2">
                    <div class="product-card__stock">In Stock</div>
                    <div class="product-card__price">{{p.prixProduit}}</div>
                  </div>
                  <div class="product-card__actions">
                    <div class="product-card__actions-category">{{p.categorieProduit}} </div>
                    <div class="product-card__actions-btn">
                      <a
                        href=""
                        class="product-card__btn product-card__actions-btn-view"
                      >
                        <i class="bx bxs-show product-card__icon"></i>
                      </a>
                      <a
                        href=""
                        class="product-card__btn product-card__actions-btn-gift"
                      >
                        <i class="bx bxs-gift product-card__icon"></i>
                      </a>
                      <a
                        href="{{path('editProduit',{'id': p.id})}}"
                        class="product-card__btn product-card__actions-btn-edit"
                      >
                        <i class="bx bx-edit product-card__icon"></i>
                      </a>
                      <a
                        href="{{path('deleteProduit',{'id': p.id})}}"
                        class="product-card__btn product-card__actions-btn-delete"
                      >
                        <i class="bx bx-trash product-card__icon"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {#----------------end product card---------------------------#}

              {#}
              <div class="product-card">
                <div class="product-card__image-container">
                  <img
                    src="{{asset('./contents/img/sac-isotherme-ecologique.jpg')}}"
                    alt="product"
                    class="product-card__image"
                  />
                </div>
                <div class="product-card__content">
                  <div>
                    <h1 class="product-card__title">
                      Sac isotherme écologique - Bandoulière"
                    </h1>
                  </div>
                  <div class="product-card__row-2">
                    <div class="product-card__stock">In Stock</div>
                    <div class="product-card__price">
                      <span class="product-card__price-after-offre"
                        >$59.99</span
                      >
                      <span class="product-card__price-before-offre"
                        >$29.99</span
                      >
                    </div>
                  </div>
                  <div class="product-card__actions">
                    <div class="product-card__actions-category">Shoes</div>
                    <div class="product-card__actions-btn">
                      <a
                        href=""
                        class="product-card__btn product-card__actions-btn-view"
                      >
                        <i class="bx bxs-show product-card__icon"></i>
                      </a>
                      <a
                        href=""
                        class="product-card__btn product-card__actions-btn-gift"
                      >
                        <i class="bx bxs-gift product-card__icon"></i>
                      </a>
                      <a
                        href=""
                        class="product-card__btn product-card__actions-btn-edit"
                      >
                        <i class="bx bx-edit product-card__icon"></i>
                      </a>
                      <a
                        href=""
                        class="product-card__btn product-card__actions-btn-delete"
                      >
                        <i class="bx bx-trash product-card__icon"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              {#}

            </div>
          </div>
        </div>
      </div>

      {#}-----Product Categories Model------{#}
      <div class="product-categories-model" id="product-categories-model" style="display:block">
        <div class="product-categories-model__card">
          <div class="product-categories-model__card-header">
            <h1>Product Categories</h1>
            <div><a href ="{{path('app_dash_admin_products')}}" class="go-to-productList"><i class="bx bx-x" id="close-category-model"></i></a></div>
          </div>
          <hr class="hr-border-categories" />
          <div class="product-categories-model__card-content">
            <div
              class="product-categories-model__card-content-btn-container"
              id="add-new-category__id"
            >
              <i class="bx bx-folder-plus"></i>
              <p class="product-categories-model__card-content-btn">
                Add New Category
              </p>
            </div>

            {{form_start(formCategorie,{'attr':{'novalidate':'novalidate'}})}}
            <div  id="add-category__form-id" style="display: block">
              <div
                class="product-add-form__input__group product-add-form__input__group-category"
              >
                <label for="productName" class="product-add-form__input__label"
                  >Name <span>*</span></label
                >

                {{form_widget(formCategorie.nomCategorie,{'attr':{'class':'product-add-form__input category-input'}})}}
                {% if form_errors(formCategorie.nomCategorie) is not empty %}
                  <div class="form_errors-product">
                    {{form_errors(formCategorie.nomCategorie)}}
                  </div>
                {% endif %}
              </div>

              <div
                class="product-add-form__input__group product-add-form__input__group-category"
              >
                <label for="productName" class="product-add-form__input__label"
                  >Icon <span>*</span></label
                >
                <div class="category-image-add">
                  <div class="category-image-add-container">
                    <i class="bx bx-image-add"></i>
                    <img
                      class="category-image-add-container__img"
                      src=""
                      alt=""
                      id="category-image-add-container__img"
                      accept="image/*"
                      style="display: none"
                    />
                  </div>

                  <div class="category-image-add-btn__add-icon">
                    {{ form_label(formCategorie.imageCategorie , 'Add icon:', {'label_attr': {'class': 'category-add-form-image__addBtn','for': 'category-add-image__file-btn'}}) }}
                    {{form_widget(formCategorie.imageCategorie,{'attr':{'class':'category-add-image__file-btn','name':'category-add-image__file-btn','id':'category-add-image__file-btn','style':'display:none'}})}}
                  
                  </div>
                </div>
              </div>
            <button class="add-btnCateg">{{button_label | default('Add')}}</button>
            
            </div>
            {{form_end(formCategorie)}}
            {#end form#}

            <h2 class="categories-list__title">Categories List</h2>
            
            <div id="categories-container-list">
              {% for c in categories %}
              <div class="categories-list-one" data-id="{{c.id}}">
                <div class="categories-list-one-img">
                  <img
                    src="{{asset('./contents/uploads/products/') ~ c.imageCategorie }}"
                    alt=""
                    class="categories-list-one-image"
                  />
                </div>
                <div class="categories-list-one-content">
                  <div class="categories-list-one-name">{{c.nomCategorie}}</div>
                  <div class="categories-list-one-btns">
                    <a href="{{path('editCategory',{'id':c.id})}}" class="categories-list-one-btn">
                      <i class="bx bx-edit" id="edit-btn__category"></i>
                    </a>
                    <a href="{{path('deleteCategorie',{'id': c.id})}}" class="categories-list-one-btn">
                      <i class="bx bx-trash"> </i>
                    </a>
                  </div>
                </div>
              </div>
              
              {% endfor %}
            </div>
            {#---------------------end category list one -----------------------#}

          </div>
        </div>

        <!--end product-categories-model__card-->
      </div>
   
{% endblock %}




{% block JsScript %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{{asset('./contents/js/script.js')}}"></script> 

  <script>

    $(function() {
  $("#categories-container-list").sortable({
    update: function(event, ui) {
      var categOrderData = [];
      $(".categories-list-one").each(function(index) {
        categOrderData.push({
          id: $(this).data("id"),
          categOrder: index + 1 
        });
      });
      console.log(categOrderData);
      $.ajax({
        type: "GET",
        url: "{{ path('trieCategories') }}",
        data: {categOrderData: categOrderData},
        //data: JSON.stringify(imgOrderData),
        //contentType: "application/json; charset=utf-8",
        success: function(result) {
          console.log('result');
          if(result){
           
            console.log(result);
             
          }
        },
        error: function(xhr, status, error) {
          console.log("Error: " + error);
        }
      });
    }
  });
});

  </script>




{% endblock %}