{% extends 'dash_admin/dashAdminBase.html.twig' %} 

{% block command_active %}active {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('./contents/css/style.css')}}" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
  <link rel="icon" href="{{asset('./contents/img/logo.png')}}" />
{% endblock %}

{% block dashContent %}

<div class="dash__container">
  <nav class="dash__navbar">
    <div class="dash__navbar-text">Dashboard</div>
    <div class="navbar__items">
      <span class="navbar__item">
        <i class="bx bx-log-out item"></i>
      </span>

      <div class="notification-icon">
        <span class="cart-icon__span">3</span>
        <span class="navbar__item">
          <i class="bx bx-bell item"></i>
        </span>
      </div>

      <span class="dash__top-bar__fullname"> {{userFullname}} </span>

      <div class="dash__top-bar__img-container">
        <a href="#">
          <img
            src="{{asset('./contents/img/ali.jpg')}}"
            class="dash__top-bar__img"
            alt="profile"
          />
        </a>
      </div>
    </div>
  </nav>
  <!--end dash__navbar-->

  <div class="dash__container-card">
    <div class="dash__card">
      <div class="product product-card-commands">
        <div class="product-card-commands-header">
          <h1>Commands List</h1>
        </div>
        {% for a in achats %}
        <div
          class="product-card-commands-content"
          onclick="toggle_commande_dash( x='-{{a.id}}'  )"
        >
          <div class="product-card-commands-content__information">
            <div class="product-card-commands-content__date">
              {{a.dateAchat |date('d/m/Y H:i:s')}}
            </div>
            <div class="product-card-commands-chevron-icon-container">
              <i
                class="bx bx-chevron-down product-card-commands-chevron-icon"
                id="chevron-down-{{a.id}}"
              ></i>
              <i
                class="bx bx-chevron-up product-card-commands-chevron-icon"
                id="chevron-up-{{a.id}}"
                style="display: none"
              ></i>
            </div>

            <div
              class="product-card-commands-content__information-details"
              id="product-card-commands-content__information-details-{{a.id}}"
              style="display: none"
            >
              <h1 class="Order-details">Order details</h1>
              <p class="Order-details-info"><b>Full name: </b>{{a.fullName}}</p>
              <p class="Order-details-info">
                <b>Address: </b> {{a.address}}, {{a.city}}
              </p>
              <p class="Order-details-info">
                <b>Email: </b> {{a.email}}
              </p>
              <p class="Order-details-info">
                <b>Phone: </b> +216{{a.tel}}
              </p>
              <p class="Order-details-info"><b>Order's ID: </b>{{a.id}}</p>

              <div class="users-list__body" style="margin-top: 1rem">
                <table class="user-table command-table">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Unit Price</th>

                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for p in  a.getCommande().getCommandsProduits() %}
                    <tr class="one-user">
                      <td class="fullname-td">
                        <div class="fullname-td__container">
                          <div class="fullname-td__img-container">
                            <img
                              src="{{asset('./contents/uploads/products/') ~ p.getProduit().Image}}"
                              alt=""
                              class="fullname-td__img-container__img"
                            />
                          </div>
                          <div class="fullname-td__fullname-username">
                            <p class="fullname-td__fullname-username__fullname">
                              {{p.getProduit().nomProduit}}
                            </p>
                            <p class="fullname-td__fullname-username__username">
                              {{p.getProduit().categorieProduit}}
                            </p>
                          </div>
                        </div>
                      </td>
                      <td>{{p.quantiteC}}</td>
                      <td>${{p.getProduit().prixProduit}}</td>

                      <td class="btn-td">${{p.getProduit().prixProduit * p.quantiteC}}</td>
                    </tr>
                    {% endfor %}
                    

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!---end product command-->

        <!--endproduct-card-commands-->
      </div>
    </div>
    <!--juste pour faire un test pour eviter un erreur de javascript-->
    <div class="product-add-form__input-category"></div>
  </div>
</div>

{% endblock %}
