


{% extends 'funds/basedash.html.twig' %}
{% block nav %}

{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('./contents/css/ST.css')}}">
    <link rel="stylesheet" href="{{asset('./contents/css/ST1.css')}}">
    <link rel="stylesheet" href="{{asset('./contents/css/ST2.css')}}">
   
	<link rel="icon" href="{{asset('./contents/img/logo1.png')}}">
{% endblock %}

{% block Fundrising %}
      
      <div class="dash__container">
        <nav class="dash__navbar">
          <div class="dash__navbar-text">Dashboard</div>
          <div class="navbar__items">
            <span class="navbar__item">
              <i class="bx bx-log-out item"></i>
            </span>

            <div class="notification-icon">
              <span class="cart-icon__span">3</span>
              <span class="navbar__item">
                <i class="bx bx-bell item"></i>
              </span>
            </div>

            <span class="dash__top-bar__fullname">  {{user.fullname}} </span>

            <div class="dash__top-bar__img-container">
              <a href="#">
                <img
                  src="{{asset('./assets/uploads/img/') ~ user.imgUrl }}"
                  class="dash__top-bar__img"
                  alt="profile"
                />
              </a>
            </div>
          </div>
        </nav>
        <!--end dash__navbar-->

        <div class="dash__container-card">
          <div class="dash__card">
            <div class="dash__card-rightSide">
              <div class="">
              
                <a style="padding:1rem 2rem" href="{{ path('app_addFundrising') }}" class="dash__card-rightSide__add-new-product-btn">Add Fundrising</a>
              </div>
              
            </div>
            <div class="product">
              <div class="product-title">Participants List</div>
              {% for donation in donations %}
              <tr>
                  <td>{{ donation['user'] }}</td>
                  <td>{{ donation['amount'] }}</td>
                  <td>{{ donation['comment'] }}</td>
              </tr>
          {% endfor %}
      
          
                
  {% endblock %}                 
             
           
              
           
    



