{% extends 'base.html.twig' %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('./style/style.css')}}">
	<link rel="shortcut icon" href="{{asset('./assets/img/logo.svg')}}" type="image/x-icon">
{% endblock %}

{% block title %}
	{{title}}
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %}


{% block body %}

	<div class="navigation">
		<nav class="navigation__nav">
			<a href="#">
				<img class="navigation__logo" src="{{asset('./assets/img/logo.svg')}}" alt="logo">
			</a>

			<ul class="navigation__list">
				<li class="navigation__item">
					<a href="#home" class="navigation__link">Home</a>
				</li>
				<li class="navigation__item">
					<a href="#ourValue" class="navigation__link">Our Values</a>
				</li>
				<li class="navigation__item">
					<a href="#fund" class="navigation__link">Fund</a>
				</li>
				<li class="navigation__item">
					<a href="#" class="navigation__link">Shop</a>
				</li>

				<div class="navigation__list--2">
					<li class="navigation__item">
						<a href="#" class="navigation__link">Login</a>
					</li>
					<div class="navigation__btn">
						<a href="./signup.html" class="navigation__primary-btn">Sign up</a>
					</div>
				</div>
			</ul>
		</nav>
	</div>

	<header id="home" class="header">

		<div class="header__social-media">
			<a target="_blank" href="https://www.facebook.com/">
				<img src="./assets/img/fb.svg" alt="" class="header__social-media__logo">
			</a>

			<a target="_blank" href="https://twitter.com/"><img src="{{asset('./assets/img/twitter.svg')}}" alt="" class="header__social-media__logo"></a>

			<a target="_blank" href="https://www.instagram.com/"><img src="{{asset('./assets/img/insta.svg')}}" alt="" class="header__social-media__logo"></a>
		</div>

		<div class="header__container">
			<div class="header__content">
				<div class="header__content__group">
					<h1 class="header__content__title">Zero<span class="header__content__title-span">Waste</span>
					</h1>
				</div>
				<p class="header__content__paragraph">
					The Zero Waste website is an eco-guide for users who want to consume wisely and who are concerned
																																																																																																																																																																																																																																																																				                    about ecology issues, namely the problem of garbage.
				</p>

				<a href="#" class="navigation__primary-btn navigation__primary-btn--2">Join us</a>
			</div>

			<lottie-player class="header__animation" src="{{asset('./assets/jsonAnimation/header2.json')}}" background="transparent" speed="1" loop autoplay></lottie-player>

		</div>

		<lottie-player class="header__scrollDown" src="{{asset('./assets/jsonAnimation/scrool.json')}}" background="transparent" speed="1" loop autoplay></lottie-player>

	</header>

	<main class="main">
		<section id="ourValue" class="ourValues">
			<lottie-player class="ourValues__leafAnimation ourValues__leafAnimation--1" src="{{asset('./assets/jsonAnimation/leafAnimation.json')}}" background="transparent" speed="1" loop autoplay></lottie-player>

			<lottie-player class="ourValues__leafAnimation ourValues__leafAnimation--2" src="{{asset('./assets/jsonAnimation/leafAnimation.json')}}" background="transparent" speed="1" loop autoplay></lottie-player>

			<div class="ourValues__intro">
				<h1 class="ourValues__intro__title">Our Values</h1>
				<p class="ourValues__intro__parag">Zero Waste is committed to values that improve the customer
																																																																																																																																																																																																																																																																				                    experience and better the world that we camp and recreate in.
				</p>
			</div>
			<div class="ourValues__container">

				<div class="ourValues__item">
					<lottie-player class="ourValues__item__animation" src="{{asset('./assets/jsonAnimation/recycle.json')}}" background="transparent" speed="1" loop autoplay></lottie-player>
					<h1 class="ourValues__item__title">Sustainable Materials & Practices</h1>
					<p class="ourValues__item__parag">
						Wherever possible we will use materials and
																																																																																																																																																																																																																																																																																																																								                        products that are designed for long term
																																																																																																																																																																																																																																																																																																																								                        outdoor durability, minimizing waste, and
																																																																																																																																																																																																																																																																																																																								                        maximizing the utilization of recycled
																																																																																																																																																																																																																																																																																																																								                        materials.
					</p>
				</div>

				<svg class="ourValues__item__devider" xmlns="http://www.w3.org/2000/svg" width="3" height="114.606" viewbox="0 0 3 114.606">
					<line id="Line_9" data-name="Line 9" y2="111.606" transform="translate(1.5 1.5)" fill="none" stroke="#43882B" stroke-linecap="round" stroke-width="3" stroke-dasharray="11"/>
				</svg>

				<div class="ourValues__item">
					<lottie-player class="ourValues__item__animation" src="{{asset('./assets/jsonAnimation/piggy_bank.json')}}" background="transparent" speed="1" loop autoplay></lottie-player>
					<h1 class="ourValues__item__title">helps individuals and associations</h1>
					<p class="ourValues__item__parag">
						Earning points raises users' awareness of how much they can recycle in their own lives and
																																																																																																																																																																																																																																																																																																																								                        assist them to buy sustainable items. Also he can help association.
					</p>
				</div>

			</div>
		</section>

		<section class="fund" id="fund">

			<lottie-player class="fund__donationAnimation fund__donationAnimation--1" src="{{asset('./assets/jsonAnimation/donate.json')}}" background="transparent" speed="0.5" loop autoplay></lottie-player>

			<lottie-player class="fund__donationAnimation fund__donationAnimation--2" src="{{asset('./assets/jsonAnimation/donate.json')}}" background="transparent" speed="0.5" loop autoplay></lottie-player>

			<h1 class="fund__title">Funds</h1>
			<div class="fund__container">

				<div class="fund__item">
					<div class="fund__item__img__container">
						<img class="fund__item__img" src="{{asset('./assets/img/cancer.jpg')}}" alt="">
					</div>
					<h1 class="fund__item__title">Help Sami to beat cancer</h1>
					<div class="fund__item__info">
						<div class="fund__item__info__association">

							<svg class="fund__item__info__association__icon" xmlns="http://www.w3.org/2000/svg" width="36.966" height="36.966" viewbox="0 0 36.966 36.966">
								<g id="svgexport-7_3_" data-name="svgexport-7 (3)" transform="translate(-2 -2)">
									<path id="Path_444" data-name="Path 444" d="M36,23.838a1.572,1.572,0,0,1-1.344-1.524,3.066,3.066,0,0,0,1.232-2.447.616.616,0,0,0-1.232,0,1.848,1.848,0,0,1-3.7,0V17.658l.643-.643a4.788,4.788,0,0,0,2.947,1h.722a.616.616,0,0,0,.616-.616v-.616a3.7,3.7,0,0,0-3.7-3.7h-1.54a14.244,14.244,0,0,0-4.98-3.324A26.744,26.744,0,0,0,25.4,6.757a6.136,6.136,0,0,0-.935-2.535.616.616,0,1,0-1.027.681,4.908,4.908,0,0,1,.743,2.025c.431,3.05.336,5.223-.267,6.493-.082-.018-.16-.046-.243-.058a1.572,1.572,0,0,1-1.344-1.524,3.066,3.066,0,0,0,1.232-2.447V6.929a.616.616,0,0,0-.616-.616h-.722a3.567,3.567,0,0,1-2.539-1.052.616.616,0,0,0-.871,0L17.583,6.493a.616.616,0,1,0,.871.871l.824-.824a4.788,4.788,0,0,0,2.947,1h.106V9.393a1.848,1.848,0,0,1-3.7,0,.616.616,0,1,0-1.232,0,3.066,3.066,0,0,0,1.232,2.447,1.572,1.572,0,0,1-1.342,1.524c-.084.012-.161.04-.246.058-.6-1.27-.7-3.443-.267-6.493.26-1.84,1.506-3.7,3.7-3.7a3.465,3.465,0,0,1,1.376.276.616.616,0,0,0,.487-1.132A4.7,4.7,0,0,0,20.483,2c-2.5,0-4.527,1.956-4.923,4.756a26.767,26.767,0,0,0-.265,3.01,14.227,14.227,0,0,0-5.1,3.447,3.044,3.044,0,0,0-.807-.123H6.929A3.084,3.084,0,0,0,3.848,16.17a4.313,4.313,0,0,0,1.232,3v.693a3.066,3.066,0,0,0,1.232,2.447,1.572,1.572,0,0,1-1.342,1.524A3.473,3.473,0,0,0,2,27.26a.616.616,0,0,0,.616.616H5.081a.616.616,0,1,0,0-1.232H3.32a2.239,2.239,0,0,1,1.822-1.587,2.734,2.734,0,0,0,.589-.16,5.99,5.99,0,0,0,4.857,0,2.734,2.734,0,0,0,.589.16A2.239,2.239,0,0,1,13,26.644H7.634a.616.616,0,0,0-.585.812,14.222,14.222,0,0,0,8.128,8.625,3.45,3.45,0,0,0-.855,2.269.616.616,0,0,0,.616.616h4.929a.616.616,0,1,0,0-1.232H15.642a2.239,2.239,0,0,1,1.822-1.587,2.734,2.734,0,0,0,.589-.16,5.99,5.99,0,0,0,4.857,0,2.733,2.733,0,0,0,.589.16,2.239,2.239,0,0,1,1.824,1.587H22.332a.616.616,0,1,0,0,1.232h3.7a.616.616,0,0,0,.616-.616,3.45,3.45,0,0,0-.855-2.267,14.22,14.22,0,0,0,7.972-8.207H38.35a.616.616,0,0,0,.616-.616A3.473,3.473,0,0,0,36,23.838Zm-2.51-.972a2.8,2.8,0,0,0,.546,1.149,4.882,4.882,0,0,1-2.457,0,2.8,2.8,0,0,0,.546-1.149A2.885,2.885,0,0,0,33.488,22.866Zm1.166-6.079h-.106a3.567,3.567,0,0,1-2.539-1.052.616.616,0,0,0-.871,0l-.629.628a2.628,2.628,0,0,1,.179-2.041h1.5A2.464,2.464,0,0,1,34.654,16.787Zm-14.17-4.313a3.076,3.076,0,0,0,.683-.082,2.8,2.8,0,0,0,.546,1.149,4.882,4.882,0,0,1-2.457,0,2.8,2.8,0,0,0,.546-1.149,3.076,3.076,0,0,0,.683.082Zm-3.019,2.11a2.734,2.734,0,0,0,.589-.16,5.99,5.99,0,0,0,4.857,0,2.734,2.734,0,0,0,.589.16,2.239,2.239,0,0,1,1.824,1.587H15.642a2.239,2.239,0,0,1,1.822-1.587ZM6.929,14.322H9.393a1.848,1.848,0,0,1,1.848,1.848,3.043,3.043,0,0,1-.131.871.6.6,0,0,0-.485-.254H9.393a.616.616,0,0,1-.616-.616.616.616,0,0,0-.19-.445.627.627,0,0,0-.452-.171,3.933,3.933,0,0,0-2.7,1.224l-.189.2a.7.7,0,0,0-.039.062,3.056,3.056,0,0,1-.13-.869,1.848,1.848,0,0,1,1.848-1.848Zm3.081,5.545a1.848,1.848,0,0,1-3.7,0V17.649l.019-.02a2.706,2.706,0,0,1,1.345-.773,1.848,1.848,0,0,0,1.716,1.162h.616ZM6.933,24.015a2.8,2.8,0,0,0,.546-1.149,2.885,2.885,0,0,0,1.365,0,2.8,2.8,0,0,0,.546,1.149A4.882,4.882,0,0,1,6.933,24.015ZM19.255,35.1a2.8,2.8,0,0,0,.546-1.149,2.885,2.885,0,0,0,1.365,0,2.8,2.8,0,0,0,.546,1.149,4.882,4.882,0,0,1-2.457,0Zm-1.236-7.228a.616.616,0,0,0-.616.616v1.556a2.2,2.2,0,0,1-.616-1.644,3.7,3.7,0,1,1,7.393,0,2.2,2.2,0,0,1-.616,1.644V28.493a.616.616,0,0,0-.616-.616h-.471a1.6,1.6,0,0,1-1.439-.892.642.642,0,0,0-1.1,0,1.6,1.6,0,0,1-1.445.892Zm4.313,3.081a1.848,1.848,0,1,1-3.7,0V29.1a2.829,2.829,0,0,0,1.848-.809,2.829,2.829,0,0,0,1.848.809ZM24.6,35.211a3.389,3.389,0,0,0-.924-.283A1.572,1.572,0,0,1,22.332,33.4,3.075,3.075,0,0,0,23.5,31.579a3.336,3.336,0,0,0,1.91-3.174,4.929,4.929,0,0,0-9.858,0,3.336,3.336,0,0,0,1.91,3.174A3.075,3.075,0,0,0,18.635,33.4a1.572,1.572,0,0,1-1.342,1.524,3.389,3.389,0,0,0-.924.283,12.98,12.98,0,0,1-7.848-7.335h5.185a.616.616,0,0,0,.616-.616,3.473,3.473,0,0,0-2.968-3.422,1.572,1.572,0,0,1-1.344-1.524,3.066,3.066,0,0,0,1.232-2.447v-.693a4.313,4.313,0,0,0,1.232-3A3.061,3.061,0,0,0,11.338,13.8a13.01,13.01,0,0,1,3.971-2.711,7.837,7.837,0,0,0,.6,2.81,3.463,3.463,0,0,0-1.585,2.886.616.616,0,0,0,.616.616h11.09a.616.616,0,0,0,.616-.616A3.463,3.463,0,0,0,25.059,13.9a7.835,7.835,0,0,0,.6-2.809,13.039,13.039,0,0,1,3.934,2.68,3.854,3.854,0,0,0,.134,3.812v2.285a3.066,3.066,0,0,0,1.232,2.447,1.572,1.572,0,0,1-1.342,1.524,3.473,3.473,0,0,0-2.971,3.422.616.616,0,0,0,.616.616h5.182A12.978,12.978,0,0,1,24.6,35.211Zm3.366-8.567a2.239,2.239,0,0,1,1.822-1.587,2.734,2.734,0,0,0,.589-.16,5.99,5.99,0,0,0,4.857,0,2.734,2.734,0,0,0,.589.16,2.239,2.239,0,0,1,1.824,1.587Z" transform="translate(0 0)" fill="#43882b"/>
								</g>
							</svg>
							<p class="fund__item__info__association__parag">Diar Essebil</p>
						</div>
						<div class="fund__item__info__association__divider"></div>
						<div class="fund__item__info__date">
							<svg class="fund__item__info__date__icon" xmlns="http://www.w3.org/2000/svg" width="31.096" height="31.096" viewbox="0 0 31.096 31.096">
								<g id="svgexport-7_1_" data-name="svgexport-7 (1)" transform="translate(-2.25 -2.25)">
									<path id="Path_394" data-name="Path 394" d="M25.772,3.845h-.4v-.4a1.2,1.2,0,0,0-2.392,0v.4H12.615v-.4a1.2,1.2,0,1,0-2.392,0v.4h-.4A7.584,7.584,0,0,0,2.25,11.419V25.772a7.584,7.584,0,0,0,7.575,7.575H25.772a7.584,7.584,0,0,0,7.575-7.575V11.419a7.584,7.584,0,0,0-7.575-7.575ZM9.825,6.237h.4V8.23a1.2,1.2,0,1,0,2.392,0V6.237H22.981V8.23a1.2,1.2,0,0,0,2.392,0V6.237h.4a5.189,5.189,0,0,1,5.183,5.183v.4H4.642v-.4A5.189,5.189,0,0,1,9.825,6.237ZM25.772,30.954H9.825a5.189,5.189,0,0,1-5.183-5.183V14.21H30.954V25.772a5.189,5.189,0,0,1-5.183,5.183Zm0-11.561A1.595,1.595,0,1,1,24.177,17.8,1.595,1.595,0,0,1,25.772,19.393Zm-6.379,0A1.595,1.595,0,1,1,17.8,17.8,1.595,1.595,0,0,1,19.393,19.393Zm-6.379,0A1.595,1.595,0,1,1,11.419,17.8,1.595,1.595,0,0,1,13.014,19.393Zm12.758,6.379a1.595,1.595,0,1,1-1.595-1.595A1.595,1.595,0,0,1,25.772,25.772Zm-6.379,0A1.595,1.595,0,1,1,17.8,24.177,1.595,1.595,0,0,1,19.393,25.772Zm-6.379,0a1.595,1.595,0,1,1-1.595-1.595A1.595,1.595,0,0,1,13.014,25.772Z" transform="translate(0 0)" fill="currentColor"/>
								</g>
							</svg>
							<p class="fund__item__info__date__parag">1 Fev - 5 Fev</p>
						</div>
					</div>

					<div class="fund__item__loader">
						<p class="fund__item__loader__text">Last donation 2d ago</p>
						<div class="fund__item__loader__container">
							<div class="fund__item__loader__container__current"></div>
						</div>
						<p class="fund__item__loader__text">
							<span>700 DNT</span>
							raised of
							<span>1300 DNT</span>
						</p>
					</div>

					<div class="fund__item__info__donation">
						<a href="#" class="fund__item__info__donation__more-info">More info</a>
						<div class="fund__item__info__association__divider"></div>
						<div class="fund__item__info__donation__help">
							<img src="{{asset('./assets/img/people.svg')}}" alt="" class="fund__item__info__donation__help__peopel">
							<a href="#" class="fund__item__info__donation__more-info">Help</a>
						</div>
					</div>

				</div>


				<div class="fund__item">
					<div class="fund__item__img__container">
						<img class="fund__item__img" src="{{asset('./assets/img/cancer.jpg')}}" alt="">
					</div>
					<h1 class="fund__item__title">Help Sami to beat cancer</h1>
					<div class="fund__item__info">
						<div class="fund__item__info__association">

							<svg class="fund__item__info__association__icon" xmlns="http://www.w3.org/2000/svg" width="36.966" height="36.966" viewbox="0 0 36.966 36.966">
								<g id="svgexport-7_3_" data-name="svgexport-7 (3)" transform="translate(-2 -2)">
									<path id="Path_444" data-name="Path 444" d="M36,23.838a1.572,1.572,0,0,1-1.344-1.524,3.066,3.066,0,0,0,1.232-2.447.616.616,0,0,0-1.232,0,1.848,1.848,0,0,1-3.7,0V17.658l.643-.643a4.788,4.788,0,0,0,2.947,1h.722a.616.616,0,0,0,.616-.616v-.616a3.7,3.7,0,0,0-3.7-3.7h-1.54a14.244,14.244,0,0,0-4.98-3.324A26.744,26.744,0,0,0,25.4,6.757a6.136,6.136,0,0,0-.935-2.535.616.616,0,1,0-1.027.681,4.908,4.908,0,0,1,.743,2.025c.431,3.05.336,5.223-.267,6.493-.082-.018-.16-.046-.243-.058a1.572,1.572,0,0,1-1.344-1.524,3.066,3.066,0,0,0,1.232-2.447V6.929a.616.616,0,0,0-.616-.616h-.722a3.567,3.567,0,0,1-2.539-1.052.616.616,0,0,0-.871,0L17.583,6.493a.616.616,0,1,0,.871.871l.824-.824a4.788,4.788,0,0,0,2.947,1h.106V9.393a1.848,1.848,0,0,1-3.7,0,.616.616,0,1,0-1.232,0,3.066,3.066,0,0,0,1.232,2.447,1.572,1.572,0,0,1-1.342,1.524c-.084.012-.161.04-.246.058-.6-1.27-.7-3.443-.267-6.493.26-1.84,1.506-3.7,3.7-3.7a3.465,3.465,0,0,1,1.376.276.616.616,0,0,0,.487-1.132A4.7,4.7,0,0,0,20.483,2c-2.5,0-4.527,1.956-4.923,4.756a26.767,26.767,0,0,0-.265,3.01,14.227,14.227,0,0,0-5.1,3.447,3.044,3.044,0,0,0-.807-.123H6.929A3.084,3.084,0,0,0,3.848,16.17a4.313,4.313,0,0,0,1.232,3v.693a3.066,3.066,0,0,0,1.232,2.447,1.572,1.572,0,0,1-1.342,1.524A3.473,3.473,0,0,0,2,27.26a.616.616,0,0,0,.616.616H5.081a.616.616,0,1,0,0-1.232H3.32a2.239,2.239,0,0,1,1.822-1.587,2.734,2.734,0,0,0,.589-.16,5.99,5.99,0,0,0,4.857,0,2.734,2.734,0,0,0,.589.16A2.239,2.239,0,0,1,13,26.644H7.634a.616.616,0,0,0-.585.812,14.222,14.222,0,0,0,8.128,8.625,3.45,3.45,0,0,0-.855,2.269.616.616,0,0,0,.616.616h4.929a.616.616,0,1,0,0-1.232H15.642a2.239,2.239,0,0,1,1.822-1.587,2.734,2.734,0,0,0,.589-.16,5.99,5.99,0,0,0,4.857,0,2.733,2.733,0,0,0,.589.16,2.239,2.239,0,0,1,1.824,1.587H22.332a.616.616,0,1,0,0,1.232h3.7a.616.616,0,0,0,.616-.616,3.45,3.45,0,0,0-.855-2.267,14.22,14.22,0,0,0,7.972-8.207H38.35a.616.616,0,0,0,.616-.616A3.473,3.473,0,0,0,36,23.838Zm-2.51-.972a2.8,2.8,0,0,0,.546,1.149,4.882,4.882,0,0,1-2.457,0,2.8,2.8,0,0,0,.546-1.149A2.885,2.885,0,0,0,33.488,22.866Zm1.166-6.079h-.106a3.567,3.567,0,0,1-2.539-1.052.616.616,0,0,0-.871,0l-.629.628a2.628,2.628,0,0,1,.179-2.041h1.5A2.464,2.464,0,0,1,34.654,16.787Zm-14.17-4.313a3.076,3.076,0,0,0,.683-.082,2.8,2.8,0,0,0,.546,1.149,4.882,4.882,0,0,1-2.457,0,2.8,2.8,0,0,0,.546-1.149,3.076,3.076,0,0,0,.683.082Zm-3.019,2.11a2.734,2.734,0,0,0,.589-.16,5.99,5.99,0,0,0,4.857,0,2.734,2.734,0,0,0,.589.16,2.239,2.239,0,0,1,1.824,1.587H15.642a2.239,2.239,0,0,1,1.822-1.587ZM6.929,14.322H9.393a1.848,1.848,0,0,1,1.848,1.848,3.043,3.043,0,0,1-.131.871.6.6,0,0,0-.485-.254H9.393a.616.616,0,0,1-.616-.616.616.616,0,0,0-.19-.445.627.627,0,0,0-.452-.171,3.933,3.933,0,0,0-2.7,1.224l-.189.2a.7.7,0,0,0-.039.062,3.056,3.056,0,0,1-.13-.869,1.848,1.848,0,0,1,1.848-1.848Zm3.081,5.545a1.848,1.848,0,0,1-3.7,0V17.649l.019-.02a2.706,2.706,0,0,1,1.345-.773,1.848,1.848,0,0,0,1.716,1.162h.616ZM6.933,24.015a2.8,2.8,0,0,0,.546-1.149,2.885,2.885,0,0,0,1.365,0,2.8,2.8,0,0,0,.546,1.149A4.882,4.882,0,0,1,6.933,24.015ZM19.255,35.1a2.8,2.8,0,0,0,.546-1.149,2.885,2.885,0,0,0,1.365,0,2.8,2.8,0,0,0,.546,1.149,4.882,4.882,0,0,1-2.457,0Zm-1.236-7.228a.616.616,0,0,0-.616.616v1.556a2.2,2.2,0,0,1-.616-1.644,3.7,3.7,0,1,1,7.393,0,2.2,2.2,0,0,1-.616,1.644V28.493a.616.616,0,0,0-.616-.616h-.471a1.6,1.6,0,0,1-1.439-.892.642.642,0,0,0-1.1,0,1.6,1.6,0,0,1-1.445.892Zm4.313,3.081a1.848,1.848,0,1,1-3.7,0V29.1a2.829,2.829,0,0,0,1.848-.809,2.829,2.829,0,0,0,1.848.809ZM24.6,35.211a3.389,3.389,0,0,0-.924-.283A1.572,1.572,0,0,1,22.332,33.4,3.075,3.075,0,0,0,23.5,31.579a3.336,3.336,0,0,0,1.91-3.174,4.929,4.929,0,0,0-9.858,0,3.336,3.336,0,0,0,1.91,3.174A3.075,3.075,0,0,0,18.635,33.4a1.572,1.572,0,0,1-1.342,1.524,3.389,3.389,0,0,0-.924.283,12.98,12.98,0,0,1-7.848-7.335h5.185a.616.616,0,0,0,.616-.616,3.473,3.473,0,0,0-2.968-3.422,1.572,1.572,0,0,1-1.344-1.524,3.066,3.066,0,0,0,1.232-2.447v-.693a4.313,4.313,0,0,0,1.232-3A3.061,3.061,0,0,0,11.338,13.8a13.01,13.01,0,0,1,3.971-2.711,7.837,7.837,0,0,0,.6,2.81,3.463,3.463,0,0,0-1.585,2.886.616.616,0,0,0,.616.616h11.09a.616.616,0,0,0,.616-.616A3.463,3.463,0,0,0,25.059,13.9a7.835,7.835,0,0,0,.6-2.809,13.039,13.039,0,0,1,3.934,2.68,3.854,3.854,0,0,0,.134,3.812v2.285a3.066,3.066,0,0,0,1.232,2.447,1.572,1.572,0,0,1-1.342,1.524,3.473,3.473,0,0,0-2.971,3.422.616.616,0,0,0,.616.616h5.182A12.978,12.978,0,0,1,24.6,35.211Zm3.366-8.567a2.239,2.239,0,0,1,1.822-1.587,2.734,2.734,0,0,0,.589-.16,5.99,5.99,0,0,0,4.857,0,2.734,2.734,0,0,0,.589.16,2.239,2.239,0,0,1,1.824,1.587Z" transform="translate(0 0)" fill="#43882b"/>
								</g>
							</svg>
							<p class="fund__item__info__association__parag">Diar Essebil</p>
						</div>
						<div class="fund__item__info__association__divider"></div>
						<div class="fund__item__info__date">
							<svg class="fund__item__info__date__icon" xmlns="http://www.w3.org/2000/svg" width="31.096" height="31.096" viewbox="0 0 31.096 31.096">
								<g id="svgexport-7_1_" data-name="svgexport-7 (1)" transform="translate(-2.25 -2.25)">
									<path id="Path_394" data-name="Path 394" d="M25.772,3.845h-.4v-.4a1.2,1.2,0,0,0-2.392,0v.4H12.615v-.4a1.2,1.2,0,1,0-2.392,0v.4h-.4A7.584,7.584,0,0,0,2.25,11.419V25.772a7.584,7.584,0,0,0,7.575,7.575H25.772a7.584,7.584,0,0,0,7.575-7.575V11.419a7.584,7.584,0,0,0-7.575-7.575ZM9.825,6.237h.4V8.23a1.2,1.2,0,1,0,2.392,0V6.237H22.981V8.23a1.2,1.2,0,0,0,2.392,0V6.237h.4a5.189,5.189,0,0,1,5.183,5.183v.4H4.642v-.4A5.189,5.189,0,0,1,9.825,6.237ZM25.772,30.954H9.825a5.189,5.189,0,0,1-5.183-5.183V14.21H30.954V25.772a5.189,5.189,0,0,1-5.183,5.183Zm0-11.561A1.595,1.595,0,1,1,24.177,17.8,1.595,1.595,0,0,1,25.772,19.393Zm-6.379,0A1.595,1.595,0,1,1,17.8,17.8,1.595,1.595,0,0,1,19.393,19.393Zm-6.379,0A1.595,1.595,0,1,1,11.419,17.8,1.595,1.595,0,0,1,13.014,19.393Zm12.758,6.379a1.595,1.595,0,1,1-1.595-1.595A1.595,1.595,0,0,1,25.772,25.772Zm-6.379,0A1.595,1.595,0,1,1,17.8,24.177,1.595,1.595,0,0,1,19.393,25.772Zm-6.379,0a1.595,1.595,0,1,1-1.595-1.595A1.595,1.595,0,0,1,13.014,25.772Z" transform="translate(0 0)" fill="currentColor"/>
								</g>
							</svg>
							<p class="fund__item__info__date__parag">1 Fev - 5 Fev</p>
						</div>
					</div>

					<div class="fund__item__loader">
						<p class="fund__item__loader__text">Last donation 2d ago</p>
						<div class="fund__item__loader__container">
							<div class="fund__item__loader__container__current"></div>
						</div>
						<p class="fund__item__loader__text">
							<span>700 DNT</span>
							raised of
							<span>1300 DNT</span>
						</p>
					</div>

					<div class="fund__item__info__donation">
						<a href="#" class="fund__item__info__donation__more-info">More info</a>
						<div class="fund__item__info__association__divider"></div>
						<div class="fund__item__info__donation__help">
							<img src="{{asset('./assets/img/people.svg')}}" alt="" class="fund__item__info__donation__help__peopel">
							<a href="#" class="fund__item__info__donation__more-info">Help</a>
						</div>
					</div>

				</div>

			</div>

			<a href="#" class="fund__btn">Show All Funds</a>
		</section>

		<section class="shop">
			<lottie-player class="shop__animation" src="{{asset('./assets/jsonAnimation/shop.json')}}" background="transparent" speed="0.8" loop autoplay></lottie-player>
			<h1 class="shop__title">Shop</h1>

			<div class="shop__conatiner">
				<img class="shop__conatiner__front" src="{{asset('./assets/img/shopFront.svg')}}" alt="">

				<div class="shop__item__container">
					<div class="shop__item">
						<div class="shop__item__img__container">
							<img class="shop__item__img" src="{{asset('./assets/img/toothBrush2.jpg')}}" alt="">
						</div>

						<div class="shop__item__info">
							<h1 class="shop__item__info__title">Bamboo Toothbrushes</h1>
							<p class="shop__item__info__description">Trail Hut 2 Tent with Footprint</p>
						</div>


						<div class="shop__item__cart">
							<h1 class="shop__item__cart__price">$25.99</h1>
							<a href="#" class="shop__item__cart__btn">Add to cart</a>
						</div>

					</div>

					<div class="shop__item">
						<div class="shop__item__img__container">
							<img class="shop__item__img" src="{{asset('./assets/img/toothBrush2.jpg')}}" alt="">
						</div>

						<div class="shop__item__info">
							<h1 class="shop__item__info__title">Bamboo Toothbrushes</h1>
							<p class="shop__item__info__description">Trail Hut 2 Tent with Footprint</p>
						</div>


						<div class="shop__item__cart">
							<h1 class="shop__item__cart__price">$25.99</h1>
							<a href="#" class="shop__item__cart__btn">Add to cart</a>
						</div>

					</div>

					<div class="shop__item">
						<div class="shop__item__img__container">
							<img class="shop__item__img" src="{{asset('./assets/img/toothBrush2.jpg')}}" alt="">
						</div>

						<div class="shop__item__info">
							<h1 class="shop__item__info__title">Bamboo Toothbrushes</h1>
							<p class="shop__item__info__description">Trail Hut 2 Tent with Footprint</p>
						</div>


						<div class="shop__item__cart">
							<h1 class="shop__item__cart__price">$25.99</h1>
							<a href="#" class="shop__item__cart__btn">Add to cart</a>
						</div>

					</div>
				</div>

				<a href="#" class="fund__btn" style="margin: 7rem 0">Show All Items</a>
			</div>
		</section>
	</main>


	<footer class="footer">
		<div class="footer__container">
			<img src="{{asset('./assets/img/logo.svg')}}" alt="" class="footer__logo">
			<div class="footer__content">
				<h1 class="footer__content__title">
					Get In Touch
				</h1>
				<p class="footer__content__parag">
					Follow us on Social media and
																																																																																																																																																																																																																																																																				                    stay updated with the latest
																																																																																																																																																																																																																																																																				                    information about our services
				</p>
				<div class="footer__content__social-media">
					<a target="_blank" href="https://www.facebook.com/"><img src="{{asset('./assets/img/fb.svg')}}" alt="" class="social-media__logo footer__content__social-media-icon"></a>

					<a target="_blank" href="https://twitter.com/"><img src="{{asset('./assets/img/twitter.svg')}}" alt="" class="social-media__logo footer__content__social-media-icon"></a>

					<a target="_blank" href="https://www.instagram.com/"><img src="{{asset('./assets/img/insta.svg')}}" alt="" class="social-media__logo footer__content__social-media-icon"></a>
				</div>
			</div>
		</div>
		<div class="footer__copyright__shape">
			<p class="footer__copyright__shape__txt">
				Copyright © 2023 ZeroWaste. All right reserved.
			</p>
		</div>
	</footer>

{% endblock %}
