
{% extends 'collecte_categorie/collect_base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('./contents/css/style.css')}}">
	<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>    
	<link rel="icon" href="{{asset('./contents/img/logo1.png')}}">
{% endblock %}



{% block admin_collect %} 

            

        <div class="dash__container">
        <nav class="dash__navbar">
          <div class="dash__navbar-text">Dashboard</div>
          <div class="navbar__items">
            <span class="navbar__item">
              <i class="bx bx-log-out item"></i>
            </span>

            <div class="notification-icon">
              <span class="cart-icon__span">3</span>
              <span class="navbar__item">
                <i class="bx bx-bell item"></i>
              </span>
            </div>

            <span class="dash__top-bar__fullname"> ELghoul Kaiss </span>

            <div class="dash__top-bar__img-container">
              <a href="#">
                <img
                  src="{{asset('./contents/img/avatar.png')}}"
                  class="dash__top-bar__img"
                  alt="profile"
                />
              </a>
            </div>
          </div>
        </nav>
        <!--end dash__navbar-->
     
             

        <div class="dash__container-card">
          <div class="dash__card">
            <div class="dash__card-rightSide">
              <div class="dash__card-rightSide__first-row">
                <a
                  href=""
                  class="dash__card-rightSide__btn-container list-plus"
                  id="add-participant"
                >
                  <i class="bx bx-user-check"></i>
                  <div
                    class="btn-hover-container Categories-hover"
                    id="add-btn-hover-container2"
                  >
                    participant
                  </div>
                </a>

                <a
                  class="dash__card-rightSide__btn-container list-plus"
                  id="add-event-btn"
                >
                  <i class="bx bx-list-plus"></i>
                  <div class="btn-hover-container" id="add-btn-hover-container">
                    Add collect
                  </div>
                </a>
                <button
                  class="dash__card-rightSide__btn-container"
                  id="category-btn-rightSide"
                >
                  <i class="bx bx-category"></i>
                  <div
                    class="btn-hover-container Categories-hover"
                    id="category-btn-hover-container"
                  >
                    Categories
                  </div>
                </button>
              </div>
            </div>

            <div class="calendar-container">
              <div id="calendar"></div>
            </div>
          </div>
        </div>

        <div id="event-forum-model" class="event-forum-model">
          <div class="event-forum-model__header">
            <h3 class="event-forum-model__header-title">Add Collect</h3>
            <span
              id="event-forum-model__header-closeBtn"
              class="event-forum-model__header-closeBtn"
              ><i class="bx bx-x closeModelBtn"></i
            ></span>
          </div>

          
            <input
              id="event_title"
              name="event_title"
              type="text"
              class="form__input"
              placeholder="Collect"
            />
            
            <select
              id="select_category"
              name="select_category"
              type="text"
              class="form__input"
              placeholder="Category"
            >
              <option selected disabled>Category</option>
              <option value="pdf">Pdf</option>
              <option value="text">Text</option>
              <option value="aloo">aloo</option>
            </select>

            <input
              id="event_startDate"
              name="event_startDate"
              type="datetime-local"
              class="form__input"
              placeholder="Start date"
            />
            <input
              id="event_endDate"
              name="event_endDate"
              type="datetime-local"
              class="form__input"
            />
       
            <input
              id="event_location"
              name="event_location"
              type="text"
              class="form__input"
              placeholder="Location"
            />
            <textarea
              id="event_description"
              name="event_description"
              class="form__input event_description"
              placeholder="Description"
            ></textarea>
            <input
              id="event_image"
              name="event_image"
              type="file"
              class="form__input_image"
              placeholder="Image"
              accept="image/*"
            />

            <div class="event-forum-btn">
              <input class="submit-btn-event" type="submit" value="Submit" />
              <button class="cancel-btn-event">Cancel</button>
            </div>
          
        </div>
      </div>
      <div
        id="event-forum-masque"
        class="event-forum"
        style="display: none"
      ></div>
<div class="product-categories-model" id="product-categories-model" style="display:block">
        <div class="product-categories-model__card">
          <div class="product-categories-model__card-header">
            <h1>Update Category</h1>
            <div><a href ="{{path('admin_collecte')}}" class="go-to-productList"><i class="bx bx-x" id="close-category-model"></i></a></div>
          </div>
          <hr class="hr-border-categories" />
          <div class="product-categories-model__card-content">
            <a
              href="{{path('app_collecte_categorie_new')}}" 
              class="product-categories-model__card-content-btn-container back-to-categories"
              id=""
            >
              <i class='bx bx-arrow-back' ></i>
              
            </a>

            {{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
            <div  id="" style="display: block">
              <div
                class="product-add-form__input__group product-add-form__input__group-category"
              >
                <label for="productName" class="product-add-form__input__label"
                  >Name <span>*</span></label
                >

                {{form_widget(form.nomCollectCat,{'attr':{'class':'product-add-form__input category-input'}})}}
                {% if form_errors(form.nomCollectCat) is not empty  %}
                  <div class="form_errors-product">
                    {{form_errors(form.nomCollectCat)}}
                  </div>
                {% endif %}
              </div>
              <div
                class="product-add-form__input__group product-add-form__input__group-category"
              >
                <label for="productName" class="product-add-form__input__label"
                  >Point <span>*</span></label
                >

                {{form_widget(form.pointCategorie,{'attr':{'class':'product-add-form__input category-input'}})}}
                {% if form_errors(form.pointCategorie) is not empty  %}
                  <div class="form_errors-product">
                    {{form_errors(form.pointCategorie)}}
                  </div>
                {% endif %}
              </div>

              
            <button class="add-btnCateg update-btnCateg">{{button_label | default('Update')}}</button>
            
            </div>
            {{form_end(form)}}
            {#end form#}


          </div>
        </div>
      </div>


{% endblock %}






