{% extends 'front/frontBase.html.twig' %} {% block frontContent %} {% block nav
%} {% endblock %}

<div class="front-content-container">
  <div class="panier-header">
    Cart
    <img src="./contents/img/cart2.gif" class="panier-gif-cart" alt="" />
  </div>
  <div class="panier-content">
    <div class="panier-content__leftSide">
      <div class="panier-content__leftSide-title">item(s)</div>
      {% if commande != null %}
      {% set total = 0 %}
      {% set Nb_points = 0 %}
      {% for c in commande.getCommandsProduits() %}
        {% set total = total + (c.getProduit().prixProduit)*c.quantiteC %}
        {% set Nb_points = Nb_points + (c.getProduit().prixPointProduit)*c.quantiteC %}
      <div class="panier-content__leftSide-command-one">
        <div class="panier-content__leftSide-command__content">
          <div class="panier-content__leftSide-command-img-container">
            <img
              src="{{asset('./contents/uploads/products/') ~ c.getProduit().Image}}"
              class="panier-content__leftSide-command-img"
              alt=""
            />
          </div>
          <div class="panier-content__leftSide-command-details">
            <div class="panier-content__leftSide-command-details-name">
              {{c.getProduit().nomProduit }}
            </div>
            <div class="panier-content__leftSide-command-details-price">
              <div class="panier-content__leftSide-command-details-price-pts">
                {{c.getProduit().prixPointProduit }}pts
              </div>
              <div class="panier-content__leftSide-command-details-price-money">
                <div>${{c.getProduit().prixProduit }}</div>
              </div>
            </div>
            <div class="panier-content__leftSide-command__btns">
              <a
                href="{{path('app_commands-delete', {'id': c.id})}}"
                class="panier-content__leftSide-command__btns-delete"
              >
                <i class="bx bx-trash"></i>
                <p>Delete</p>
              </a>
              <div class="panier-content__leftSide-command__btns-update">
                <a
                  href="{{path('app_commands-moins',{'id': c.getProduit().id})}}"
                  class="panier-content__leftSide-command__btns-update-mp moins-border {% if c.quantiteC == 1 %} disabled {% endif %}"
                >
                  <i class="bx bx-minus"></i>
                </a>
                <div class="panier-content__leftSide-command__btns-number">
                  {{c.quantiteC}}
                </div>
                <a
                  href="{{path('app_commands-plus',{'id': c.getProduit().id})}}"
                  class="panier-content__leftSide-command__btns-update-mp plus-border {% if c.quantiteC == c.getProduit().quantite %} disabled {% endif %}"
                >
                  <i class="bx bx-plus"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
      <!--end command one-->
    </div>
    <!--end panier content left side-->
    <div class="panier-content__RightSide">
      <div class="panier-content__RightSide-title">Order Summary</div>
      <hr class="hr-border hr-border-3" />
      <div class="panier-content__RightSide-total">
        <div>Total</div>
        <div>
        {% if commande != null %}
     <div id="total">{{ total }}USD / {{ Nb_points }}pts</div>
     
        {% endif %}
        </div>
      </div>
      <a  href="{{path('commands_address')}}" class="panier-content__RightSide-Checkout  {% if commande == null %}disabled-checkout{% else %}{% if total == 0 %}disabled-checkout{% endif %}{% endif %}" >
        <button class="checkoutPanier-btn {% if commande == null %}disabled-checkout{% else %}{% if total == 0 %}disabled-checkout{% endif %}{% endif %}">Checkout</button>
      </a>
      <hr class="hr-border hr-border-3" />

      <div class="promo-code__groupe">
      <label for="" class="promo-code__groupe-title">Promo code</label>
  <i class="bx bxs-discount"></i>
  <input
    type="number"
    name="promo"
    class="promo-code__groupe-input"
    placeholder="Enter your code"  
  />
</div>
  <a href="{{ path('app_qr_codes') }}" class="small-button promo-code__scan-me-btn">Scan Me</a>

       <style>
 .small-button {
  margin-top: -76px;
  float: right;
  display: inline-block;
  padding: 4px 9px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 3rem;
  color: #333;
  background-color: #defee6;
  cursor: pointer;
}

.small-button:hover,
.small-button:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.small-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.small-button:active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.small-button.disabled,
.small-button:disabled {
  color: #868e96;
  background-color: #fff;
  border-color: #ccc;
  cursor: not-allowed;
}
      
       </style>
    </div>
    <!--end panier content Right side-->

    <div class="panier__checkout-form-model" {% if app.request.query.get('address') == 0 %} style="display:none" {% endif %}>
      
      <div class="panier__checkout-form-model-v1">
        <div class="panier__checkout-form-model-header">
          <h1 class="panier__checkout-form-model-header-title">1. Address</h1>
          <a href ="{{path('app_commands')}}" class="panier__checkout-form-model-header-exit">
            <i class="bx bx-x"></i>
          </a>
        </div>
        <div class="panier__checkout-form-model-content" style="padding-top:2.3rem;">
          {{form_start(formAchats ,{'attr':{'novalidate':'novalidate'}})}}
          <div class="product-add-form__input__group-row checkout-gap">
            <div class="product-add-form__input__group">
              <label for="productPrice" class="product-add-form__input__label"
                >FullName <span>*</span></label
              >
              {#}<input
                id="FullName"
                name="FullName"
                type="text"
                class="product-add-form__input product-add-form__input__label-Price"
                placeholder="FullName"
              />{#}
              {{form_widget(formAchats.FullName,{'attr':{'class':'product-add-form__input product-add-form__input__label-Price','placeholder':"FullName"}})}}
              {% if form_errors(formAchats.FullName) is not empty %}
              <div class="form_errors-product">
                {{form_errors(formAchats.FullName)}}
              </div>
            {% endif %}
            </div>

            <div class="product-add-form__input__group">
              <label for="Email" class="product-add-form__input__label"
                >Email <span>*</span></label
              >
              {#}<input
                id="Email"
                name="Email"
                type="text"
                class="product-add-form__input"
                placeholder="Email"
              />{#}
              {{form_widget(formAchats.Email,{'attr':{'class':'product-add-form__input','placeholder':"Email"}})}}
              {% if form_errors(formAchats.Email) is not empty %}
              <div class="form_errors-product">
                {{form_errors(formAchats.Email)}}
              </div>
              {% endif %}
            </div>
          </div>

          <div class="product-add-form__input__group-row checkout-gap">
            <div class="product-add-form__input__group">
              <label for="City" class="product-add-form__input__label"
                >City <span>*</span></label
              >
              {#}<input
                id="City"
                name="City"
                type="text"
                class="product-add-form__input product-add-form__input__label-Price"
                placeholder="City"
              />{#}
              {{form_widget(formAchats.city,{'attr':{'class':'product-add-form__input product-add-form__input__label-Price','placeholder':"City"}})}}
              {% if form_errors(formAchats.city) is not empty %}
              <div class="form_errors-product">
                {{form_errors(formAchats.city)}}
              </div>
              {% endif %}
            </div>

            <div class="product-add-form__input__group">
              <label for="Phone" class="product-add-form__input__label"
                >Phone <span>*</span></label
              >
              {#}<input
                id="Phone"
                name="Phone"
                type="number"
                class="product-add-form__input"
                placeholder="Phone"
              />{#}
              {{form_widget(formAchats.tel,{'attr':{'class':'product-add-form__input','placeholder':"Phone"}})}}
              {% if form_errors(formAchats.tel) is not empty %}
              <div class="form_errors-product">
                {{form_errors(formAchats.tel)}}
              </div>
              {% endif %}
            </div>
          </div>

          <div class="product-add-form__input__group-row checkout-gap">
            <div class="product-add-form__input__group">
              <label for="Address" class="product-add-form__input__label"
                >Address <span>*</span></label
              >
              {#}<input
                id="Address"
                name="Address"
                type="text"
                class="product-add-form__input product-add-form__input__label-Price"
                placeholder="Address"
              />{#}
              {{form_widget(formAchats.Address,{'attr':{'class':'product-add-form__input product-add-form__input__label-Price','placeholder':"Address"}})}}
              {% if form_errors(formAchats.Address) is not empty %}
              <div class="form_errors-product">
                {{form_errors(formAchats.Address)}}
              </div>
              {% endif %}
            </div>

            <div class="product-add-form__input__group">
              <label for="ZipCode" class="product-add-form__input__label"
                >Zip Code <span>*</span></label
              >
              {#}<input
                id="ZipCode"
                name="ZipCode"
                type="number"
                class="product-add-form__input"
                placeholder="Zip Code"
              />{#}
              {{form_widget(formAchats.zipCode,{'attr':{'class':'product-add-form__input','placeholder':"zip Code"}})}}
              {% if form_errors(formAchats.zipCode) is not empty %}
              <div class="form_errors-product">
                {{form_errors(formAchats.zipCode)}}
              </div>
              {% endif %}
            </div>
          </div>

          <button type="submit" class="panier__checkout-form-model-btnSave contenue__btn">
            {{button_label | default('Contenue')}}
          </button>
          {{form_end(formAchats)}}
        </div>
      </div>
      

    </div>
    <!--end panier checkout form-->

    <div class="panier__checkout-form-model" {% if app.request.query.get('checkout') == 0 %} style="display:none" {% endif %}>
      <div class="panier__checkout-form-model-v1">
        <div class="panier__checkout-form-model-header">
          <h1 class="panier__checkout-form-model-header-title">2. Payment method</h1>
          <a href ="{{path('app_commands')}}" class="panier__checkout-form-model-header-exit">
            <i class="bx bx-x"></i>
          </a>
        </div>
        <div class="panier__checkout-form-model-content">
          <div class="panier__checkout-form-model-address-info-container">  
            <div class="panier__checkout-form-model-address-info-header">
              <div class="check-verified-address-icon"><i class='bx bx-check'></i></div>
              <h1>1. Address</h1>
            </div>
            <hr class="hr-Address-border">
            <div class="panier__checkout-form-model-address-info-content">
              <div class="panier__checkout-form-model-address-info-content-details">
                <div class="panier__checkout-form-model-address-info-content-details_fullName">
                  {% if commandeAchats != null %}
                  {{commandeAchats.FullName}}
                  {% endif %}
                </div>
                <div class="panier__checkout-form-model-address-info-content-details_address">
                  {% if commandeAchats != null %}
                  {{commandeAchats.city}}, {{commandeAchats.address}}
                  {% endif %}
                </div>
                <div class="panier__checkout-form-model-address-info-content-details_phone">
                  +216{% if commandeAchats != null %}{{commandeAchats.tel}}{% endif %}
                </div>
              </div>
              <div class="panier__checkout-form-model-address-info-bts">
                <a href="{% if commandeAchats != null %}{{path('editAddress', {'id': commandeAchats.id})}}{% endif %}" class="panier__checkout-form-model-address-info-bts-update"><i class='bx bx-edit' ></i></a>
                <a href="{% if commandeAchats != null %}{{path('deleteAchats', {'id':commandeAchats.id})}}{% endif %}" class="panier__checkout-form-model-address-info-bts-delete"><i class='bx bx-trash' ></i></a>
              </div>
            </div>
            
          </div>
          {#-----end address info---------#}
          <div class="panier__checkout-form-model-content-question">What payment method do you want to use?</div>
            <a href="{{path('app_commands-paymentSet', {'test': 1})}}" class="panier__checkout-form-model-content-payment-btns-container">
              <input type="radio" id="stripe" name="stripe" value="stripe" {% if commandeAchats != null %}{% if commandeAchats.paymentMethod == 'Stripe' %} checked {% endif %}{% endif %}>
                <div for="" class="label-stripe"> 
                  <div class="payment-btns__container"><img src="./contents/img/visa.png" class="payment-btns__container-img" alt="" /></div>
                  <div class="payment-btns__container"><img src="./contents/img/mastercard1.png" class="payment-btns__container-img mastercard" alt="" /></div>
                  <div class="payment-btns-text">Pay online now!</div>
                </div>
              
            </a>

            <a href="{{path('app_commands-paymentSet', {'test': 2})}}" class="panier__checkout-form-model-content-payment-btns-container">
              <input type="radio" id="livraison" name="stripe" value="livraison" {% if commandeAchats != null %}{% if commandeAchats.paymentMethod == 'Livraison' %} checked {% endif %}{% endif %}>
                <div for="livraison" class="label-stripe"> 
                  <div class="payment-btns__container">
                  <img src="./contents/img/livraison.png" class="payment-btns__container-img livraison-img" alt="" />
                  </div>
                  <div class="payment-btns-text">CASH payment on delivery</div>
                </div>
              
            </a>

            <a href="{{path('app_commands-paymentSet', {'test': 3})}}" class="panier__checkout-form-model-content-payment-btns-container">
              <input type="radio" id="points" name="stripe" value="points" {% if commandeAchats != null %}{% if commandeAchats.paymentMethod == 'Points' %} checked {% endif %}{% endif %}>
                <div for="points" class="label-stripe"> 
                  <div class="payment-btns__container">
                  <img src="./contents/img/logo1.png" class="payment-btns__container-img zerowaste-points" alt="" />
                  </div>
                  <div class="payment-btns-text">ZeroWaste Points payment </div>
                </div>
              
            </a>
          
          <hr class="hr-border-checkout-total" />
          <div class="checkout-validation-total">
            <div>Total</div>
              {% if commande != null %}
     <div id="total">{{ total }}USD / {{ Nb_points }}pts</div>
     
        {% endif %}
          </div>
          <hr class="hr-border-checkout-total" />
          <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        {% for message in app.flashes('success') %}
                            <div 
                                style="color: green;
                                    border: 2px green solid;
                                    text-align: center;
                                    padding: 5px;margin-bottom: 10px;">
                                {{ message }}
                            </div>
                        {% endfor %}
  
                        <form id='checkout-form' method='POST' action="{{ path('app_stripe_charge') }}">             
                            <input type='hidden' name='stripeToken' id='stripe-token-id'>                              
                            <label for="card-element" class="mb-5">Checkout Forms</label>
                            <br>
                            <div id="card-element" class="form-control" ></div>
                            <button 
                                id='pay-btn'
                                
                                type="button"
                                class="panier__checkout-form-model-btnSave validateCheckout-btn"
                                onclick="createToken()">validate
                            </button>
                        <form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://js.stripe.com/v3/" ></script>
    <script>
        var stripe = Stripe("{{stripe_key}}");
        var elements = stripe.elements();
        var cardElement = elements.create('card');
        cardElement.mount('#card-element');
     
        function createToken() {
            document.getElementById("pay-btn").disabled = true;
            stripe.createToken(cardElement).then(function(result) {
     
                     
                if(typeof result.error != 'undefined') {
                    document.getElementById("pay-btn").disabled = false;
                    alert(result.error.message);
                }
     
                // creating token success
                if(typeof result.token != 'undefined') {
                    document.getElementById("stripe-token-id").value = result.token.id;
                    document.getElementById('checkout-form').submit();
                }
            });
        }
    </script>
          {# <a href="{{path('app_commands-validateCheckout')}}" type="submit" class="panier__checkout-form-model-btnSave validateCheckout-btn">
            Validate
          </a> #}
        </div>
      </div>
    </div>
    <!--end panier valider checkout-->

  </div>
</div>

{% endblock %}
