{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('./contents/css/style.css')}}" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
  <link rel="icon" href="{{asset('/contents/img/logo.png')}}" />

  {% block bgColor %}
  {% endblock %}

{% endblock %}

{% block title %}
	{{title}}
{% endblock %}


{% block body %}
   <nav class="front__navbar front__navbar-scrolled-up">
    <div class="front__navbar-img-container">
      <img
        src="../contents/img/logo.png"
        class="front__navbar-img-container"
        alt=""
      />
    </div>

    <ul class="front__navbar__link" style="position: relative; right: -2rem">
      <li><a href="{{path('app_landing_page')}}" class="text-decoration">Home</a></li>
      <li><a href="{{path('afficher_funds')}}" class="text-decoration">Fundraising</a></li>
      <li><a href="{{path('app_products')}}" class="text-decoration">shop</a></li>
      <li><a href="" class="text-decoration">Collect</a></li>
    </ul>

    <div class="navbar__items">
      <a id="searchIdNav"
        class="notification-icon cart-icon-link"
        style="position: relative; top: 0.1rem; padding-right: 1rem"
      >
        <span class="navbar__item">
        <i class='bx bx-search-alt-2' style="font-size: 3rem"></i>
        </span>
      </a>

      <a href="{{path('app_commands')}}"
        class="notification-icon cart-icon-link"
        style="position: relative; top: 0.1rem; padding-right: 1rem"
      >
        <span class="cart-shop-icon__span">{{totalCommandes}}</span>
        <span class="navbar__item">
          <i class="bx bx-cart item" style="font-size: 3rem"></i>
        </span>
      </a>

      <div class="notification-icon" style="position: relative; top: 0.1rem">
        <span class="cart-icon__span" id="notifNumber">{% if notifications is defined and notifications != null %}{{notifications | length }}{% else %}0{% endif %}</span>
        <span class="navbar__item">
          <i class="bx bx-bell item"></i>
        </span>

        <i class="bx bxs-up-arrow bxs-up-arrow-notif " style="display:none"></i>
        <div class="notif-model__toggle" style="display:none">
          <div class="notif-model__toggle-container">
            {#------------one notif---------------------#}
            {% if notifications is defined and notifications != null %}
            {% for n in notifications %}
            <div class="notif-model__toggle-content-one-notif" id="notif-model__toggle-content-one-notif{{n.id}}" data-id="{{n.id}}">
              <a href="{{path('NotifMarkAsRead', {'id': n.id})}}" class="notif-model__toggle-content-linkP">
                <div class="notif-model__toggle-content-img-container">
                  <img src="{{asset('/contents/uploads/products/') ~ n.getProduct().Image}}" class="notif-model__toggle-content-img" />
                </div>
                <div class="notif-model__toggle-content-text">
                  <div class="notif-model__toggle-content-text-title">{{n.getProduct().nomProduit}}</div>
                  <div class="notif-model__toggle-content-text-description">{{n.content}}</div>
                  <div class="notif-model__toggle-content-text-date">{{n.date |date('d/m/Y H:i:s')}}</div>
                </div>
              </a>
              <div class="notif-model__toggle-content-MarkAsReadbtn" onclick="MarkAsRead( x='{{n.id}}'  )"  >
                <i class='bx bx-show markAsReadIcon'></i>
                <div class="notif-model__toggle-content-MarkAsReadbtn-text">Mark As <br>Read</div>
              </div>
            </div>
            <hr class="all-notif-hr" id="hrNotif{{n.id}}">
            {% endfor %}
            {% endif %}
            {#------------end one notif---------------------#}

            {# for the mercure notification list#}
            <div id="notifMercureId">
            </div>
            

          </div>
        </div>
      </div>

      <span class="dash__top-bar__fullname"> {{user.fullName}} </span>

      <div class="dash__top-bar__img-container">
        <a >
          <img
            src="{{asset('./contents/img/') ~ user.imgUrl }}"
            class="dash__top-bar__img"
            alt="profile"
          />
        </a>
        <i class='bx bxs-up-arrow' id="bxs-up-arrowProfil" style="display:none"></i>
        <div class="dash__top-bar__toggle-model-account" style="display:none">
          <a href="" class="dash__top-bar__toggle-model-account-row">
            <i class='bx bx-user'></i>
            <div class="dash__top-bar__toggle-model-account-link">Your account</div>
          </a>
          <a href="" class="dash__top-bar__toggle-model-account-row">
            <i class='bx bx-shopping-bag' ></i>
            <div class="dash__top-bar__toggle-model-account-link">Your orders</div>
          </a>
          <a href="{{path('app_productsFav')}}" class="dash__top-bar__toggle-model-account-row">
            <i class='bx bx-heart'></i>
            <div class="dash__top-bar__toggle-model-account-link">Your wish list</div>
          </a>
          <hr class="toggle-model-account-hr" />
          <a href="" class="toggle-model-account-logoutBtn">Logout</a>  
        </div>
      </div>
    </div>
  </nav>
  <!--end dash__navbar-->

  {% block frontContent %}{% endblock %}

{% endblock %}
