{% extends 'front/frontBase.html.twig' %}

{% block bgColor %}
<style>
body{
    background-color:#DEFEE6;
  }
</style>
{% endblock %}

{% block frontContent %}
{% block nav %}
{% endblock  %}

<div class="products-list__header">
  <div class="products-list__gif1-container">
    <img src="./contents/img/leaves.gif" class="products-list__gif1" alt="" />
  </div>
  <h1 class="products-list__title">Shop</h1>
  <div class="products-list__gif2-container">
    <img src="./contents/img/leaves.gif" class="products-list__gif2" alt="" />
  </div>
</div>

<div class="all-products-list__container">
  <div class="shopfront-img-container">
    <img src="./contents/img/shopFront.svg" class="shopfront-img" alt="" />
  </div>

   <div class="bx-chevron-left-container wrapper"><i id="left" class='bx bx-chevron-left'></i></div>
  
      
    {#--------------Categories List------------#}
    <div class="shop-items__categories-container">
     {% for c in categories %}
      <div class="shop-items__one-category-container" onclick="filterCategories( x='{{c.id}}'  )" data-id="{{c.id}}" id="shop-items__one-category-container{{c.id}}">
        <div class="shop-items__one-category">
          <div class="shop-items__category-img-container">
            <img src="{{asset('./contents/uploads/products/') ~ c.imageCategorie}}" class="shop-items__category-img" />
          </div>
          <div class="shop-items__category-name">
            {{c.nomCategorie}}
          </div>
        </div>
      </div>
       {% endfor %}
      {#--------------end one category--------------#}

    
    </div>

   <div class="bx-chevron-right-container__full"><div class="bx-chevron-right-container wrapper"><i id="right" class='bx bx-chevron-right'></i></div>
  </div>

    
    {#--------------END Categories List------------#}


  {#--------------PRODUCTS List------------#}
  <div class="shop-items__container">
    {% if products != null %}
    {% for p in products %}
    <div class="shop-items__card">
      <a href="{{path('product-one', {'id': p.id})}}" class="shop-items__card-img-container">
        <img
          src="{{asset('./contents/uploads/products/') ~ p.image}}"
          class="shop-items__card-img"
          alt=""
        />
      </a>
      <div class="shop-items__info">
        <div class="shop-items__info__title">{{p.nomProduit}}</div>
        <p class="shop-items__info__description">
          {{p.description}}
        </p>
      </div>
      <div class="shop__items__cart">
        <h1 class="shop__items__cart__price">${{p.prixProduit}} / {{p.prixPointProduit}}pts</h1>
        <a href="{{path('app_commandes-add', {'id': p.id})}}" class="shop__items__cart__btn">Add to cart</a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {#----------end card1--------------#}

  </div>

  {#-------------for categories filter-----------------#}
  <div id="shop-items__containerFilterId" style="display:none">
    <div class="shop-items__container2">
    </div>
  </div>

    {#------------------------#}
  {#---------------add to cart model start-----------------------#}
     <div class="add-to-cart-model" {% if app.request.query.get('added') == 0 %} style="display :none {% endif %}">
      <div class="add-to-cart-model-v1">
        <div class="add-to-cart-model-v1__title">
          {% if app.request.query.get('added') == 1 %}
            Product Added To Cart Successfully
          {% endif %}

          {% if app.request.query.get('added') == 2 %}
            Product is already Added To Cart
          {% endif %}
          
          </div>
        <button class="add-to-cart-model-v1__Btn">Contenue Shopping</button>
        <a href="{{path('app_commands')}}" class="add-to-cart-model-v1__Btn order">Order</a>
      </div>
    </div>
</div>


{#-------------------------notification modal----------------------------#}
  <div class="notification-modal" >
   {#} <div class="notification-modal-header">
      <div class="notification-modal-header__title">New Notification</div>
      <div class="notification-modal-header__closeBtn"><i class='bx bx-x'></i></div>
    </div>
    <a href="" class="notification-modal-content">
      <div class="notification-modal-content__img-container">
        <img src="{{asset('./contents/img/gift1.gif')}}" class="notification-modal-content__img" />
      </div>
      <div class="notification-modal-content__title">
        New Product Offer!
        <div id="message"></div>
      </div>
    </a>{#}

  </div>
{#-------------------------END notification modal----------------------------#}

{#--searchIdNav---------------------------------search modal--------------------------------#}
  <div id="searchModalId" style="display:none">
    <div class="searchModal" >
      <div class="searchModal-card" >
        <div class="searchModal-card-header">
          <img src="{{asset('./contents/img/search.gif')}}" class="searchGif" />
          <div class="searchModal-card-header-close">
            close
          </div>
        </div> 
        <div class="searchModal-card-content">
          <input type="search" class="input-search-product" placeholder="Search" />
          <div id="search__byImage"><i class='bx bx-image' ></i></div>
          <div class="search-container_v1" id="searchImage-container">
            <div class="search-container_header">
              <h2 class="searchTitle">Search any image with Zero Waste</h2>
              <div class="searchClose-btn" id="searchImage-CloseBtn"><i class='bx bx-x' ></i></div>
            </div>
            <div class='searchByImage-container'>
            <div>
              <div class='searchByImage-content'>
                <i class='bx bx-images'></i>
                {{form_start(searchProdoctForm,{'attr':{'novalidate':'novalidate'}})}}

                    {{ form_label(searchProdoctForm.Image, 'Upload image:', {'label_attr': {'class': 'searchByImage-btn','for': 'searchByImagBtn'}}) }}
                    
                    {{form_widget(searchProdoctForm.Image,{'attr':{'class':'prouct-add-form-image__file-btn','name':'searchByImagBtn','id':'searchByImagBtn','style':'display:none'}})}}
                    
                <div class="searchByImage-searchRow">
                  <div class="searchByImage-content__img-container">
                    <img
                      class="searchByImage-content__img"
                      src=""
                      alt=""
                      id="searchByImage-content__img"
                      accept="image/*"
                      style="display: block"
                    />   
                  </div> 
                  <button class='prouct-add-form-image__addBtn heightBtn'> {{button_label | default('Search')}}</button>
                </div>
                {{form_end(searchProdoctForm)}}
              </div>
              
            </div>
          </div>
          </div>
          
        
        </div>
      </div> 
    </div>
  </div>
{#-----------------------------------END search modal--------------------------------#}


{% endblock %}


  {% block JsScript %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{{asset('./contents/js/user-products-list.js')}}"></script> 

    <script>
      $(document).ready(function () {
        $(".dash__top-bar__img-container").click(function () {
          $(".dash__top-bar__toggle-model-account").toggle(0);
          $("#bxs-up-arrowProfil").toggle(0);
        });
      });
    </script>
    
    <script>

      function filterCategories(x) {
  //$("#chevron-down" + x).toggle(0);
  const categoryId = $("#shop-items__one-category-container" + x).data("id");
  console.log(categoryId);

  var categoryIdData = [];
  categoryIdData.push({
    id: categoryId,
  });

  console.log(categoryIdData);

  $.ajax({
    type: "GET",
    url: "{{ path('filterCategories') }}",
    data: { categoryIdData: categoryIdData },

    success: function (result) {
      console.log("result");
      if (result) {
        console.log(result);

        $(".shop-items__container").empty();
        $(".shop-items__container").hide();
        $(".shop-items__container2").empty();
        $("#shop-items__containerFilterId").show();

        $.each(JSON.parse(result), function (i, obj) {
          console.log(obj);

          var $newDiv11 = $("<div>" + obj.description + "</div>");
          //newDiv1 : div container: contains newDiv2 newDiv3 newDiv4
          var $newDiv1 = $("<div></div>").addClass("shop-items__card");

          var $newDiv2 = $("<div></div>").addClass("shop-items__card-img-container");
          var $newDiv3 = $("<div></div>").addClass("shop-items__info");
          var $newDiv4 = $("<div></div>").addClass("shop__items__cart");

          //in $newDiv2
          var $newImg = $("<img />").addClass("shop-items__card-img");
          var imagePath = "{{ app.request.basePath }}contents/uploads/products/" + obj.Image;
          $newImg.attr("src", imagePath);

          //in newdiv3
          var $newDiv5 = $("<div>" + obj.nomProduit + "</div>").addClass(
            "shop-items__info__title"
          );
          var $newP = $("<p>" + obj.description + "</p>").addClass(
            "shop-items__info__description"
          );

          //in newdiv4
          var $newH1 = $("<div>$" + obj.prixProduit + " / " + obj.prix_point_produit + "pts</div>").addClass("shop__items__cart__price");
          var $newLink = $("<a></a>").attr("href", "/commandes/add/" + obj.id + "").addClass("shop__items__cart__btn").text("Add to cart");

          $(".shop-items__container2").append($newDiv1);
          $newDiv1.append($newDiv2);
          $newDiv1.append($newDiv3);
          $newDiv1.append($newDiv4);

          $newDiv2.append($newImg);

          $newDiv3.append($newDiv5);
          $newDiv3.append($newP);

          $newDiv4.append($newH1);
          $newDiv4.append($newLink);
        });
      }
    },
    error: function (xhr, status, error) {
      console.log("Error: " + error);
    },
  });
}



    </script>

    {#---------------------------notification---------------------------#}
    <script>

    
const eventSource = new EventSource("{{ mercure('https://example.com/books/1')|escape('js') }}");
eventSource.onmessage = event => {
    // Will be called every time an update is published by the server
    console.log(JSON.parse(event.data));
    $(".notification-modal").empty();
    $(".notification-modal").show();

    
    var $newDiv1 = $("<div></div>").addClass("notification-modal-header");
    var $newDiv2 = $("<a></a>").attr("href", "/product-one/" + (JSON.parse(event.data).id) + "").addClass("notification-modal-content");

    var $newDiv3 = $("<div>New Notification</div>").addClass("notification-modal-header__title");
    var $newDiv4 = $("<div></div>").addClass("notification-modal-header__closeBtn");
    var $newDivI = $("<i></i>").addClass("bx bx-x");

    var $newDiv5 = $("<div></div>").addClass("notification-modal-content__img-container");
    var $newDiv6 = $("<div>"+(JSON.parse(event.data).status)+"</div>").addClass("notification-modal-content__title");
    
    var $newDivImg = $("<img>").addClass("notification-modal-content__img");
    //var imagePath = "{{ app.request.basePath }}contents/img/gift1.gif" + (JSON.parse(event.data).image);
    var imagePath = "{{ app.request.basePath }}contents/img/gift1.gif" ;
    $newDivImg.attr("src", imagePath);

    
    
    

    //var $newDiv = $("<div>"+(JSON.parse(event.data).status)+"</div>");
    //$newDiv.addClass("msg");
    $(".notification-modal").append($newDiv1);
    $(".notification-modal").append($newDiv2);

    $($newDiv1).append($newDiv3);
    $($newDiv1).append($newDiv4);

    $($newDiv4).append($newDivI);

    $($newDiv2).append($newDiv5);
    $($newDiv2).append($newDiv6);

    $($newDiv5).append($newDivImg);


    //create the notification in the list**************************************************************
    var $newDivNotif1 = $("<div></div>").addClass("notif-model__toggle-content-one-notif").attr("id", "notif-model__toggle-content-one-notif"+ (JSON.parse(event.data).id) +"").data("id", ""+ (JSON.parse(event.data).id) + "");
    var $newDivNotif2 = $("<a></a>").attr("href", "/NotifMarkAsRead/" + (JSON.parse(event.data).id) + "").addClass("notif-model__toggle-content-linkP");
    var $newDivNotif3 = $("<div></div>").addClass("notif-model__toggle-content-img-container");
    var $newDivNotifImg = $("<img>").addClass("notif-model__toggle-content-img");
    var imageNotifPath = "{{ app.request.basePath }}contents/uploads/products/" + (JSON.parse(event.data).image);
    $newDivNotifImg.attr("src", imageNotifPath);

    var $newDivNotif4 = $("<div></div>").addClass("notif-model__toggle-content-text");
    var $newDivNotif5 = $("<div>"+(JSON.parse(event.data).nomProduit)+"</div>").addClass("notif-model__toggle-content-text-title");
    var $newDivNotif6 = $("<div>"+(JSON.parse(event.data).status)+"</div>").addClass("notif-model__toggle-content-text-description");
    
    //var dateStr = moment(JSON.parse(event.data).date).format('DD/MM/YYYY HH:mm:ss');
    var $newDivNotif7 = $("<div>" + (JSON.parse(event.data).date) + "</div>").addClass("notif-model__toggle-content-text-date");
    
    var $newDivNotif8= $("<div></div>").addClass("notif-model__toggle-content-MarkAsReadbtn").click(function() {
      MarkAsRead('{{'+(JSON.parse(event.data).id)+'}}');
    });

    var $newINotif = $("<i></i>").addClass("bx bx-show markAsReadIcon");

    var $newDivNotif9 = $("<div></div>").addClass("notif-model__toggle-content-MarkAsReadbtn-text").text("Mark\nAs\nRead");

    var $newHr = $("<hr>").addClass("all-notif-hr").attr("id", "hrNotif" + (JSON.parse(event.data).id));

     $("#notifMercureId").append($newDivNotif1);
     $("#notifMercureId").append($newHr);
     $($newDivNotif1).append($newDivNotif2);
     $($newDivNotif1).append($newDivNotif8);

     $($newDivNotif2).append($newDivNotif3);
     $($newDivNotif2).append($newDivNotif4);

     $($newDivNotif8).append($newINotif);
     $($newDivNotif8).append($newDivNotif9 );

      //
     $($newDivNotif3).append($newDivNotifImg);
     //
     $($newDivNotif4).append($newDivNotif5 );
     $($newDivNotif4).append($newDivNotif6 );
     $($newDivNotif4).append($newDivNotif7 );

      var number = parseInt($("#notifNumber").text()); // get current value of number
      $("#notifNumber").text(number + 1); // increment the number by 1 and update the text
    //END create the notification in the list************************************************************




    //document.getElementById(".msg").innerHTML+="<div>"+(JSON.parse(event.data).status)+"</div>";

    // Masquer la div "message" après 5 secondes
    setTimeout(function() {
        document.querySelector(".notification-modal").style.display = 'none';
    }, 9000);
}



</script>

  <script>
  $(document).ready(function () {
    $("#search__byImage").click(function () {
      $("#search__byImage").hide(0);
      $("#searchImage-container").toggle(0);
      $(".input-search-product").toggle(0);
      $(".searchModal-card").css('margin-top', '7.5rem');
      
    });
  });

  $(document).ready(function () {
    $("#searchImage-CloseBtn").click(function () {
      $("#search__byImage").toggle(0);
      $("#searchImage-container").toggle(0);
      $(".input-search-product").toggle(0);
      $(".searchModal-card").css('margin-top', '0rem');
    });
  });

  $(document).ready(function () {
    $(".searchModal-card-header-close").click(function () {
      $("#searchModalId").toggle(0);
    });
  });

  $(document).ready(function () {
    $(".bx-search-alt-2").click(function () {
      $("#searchModalId").toggle(0);
    });
  });

  </script>


  <script>
    $(document).ready(function () {
      $(".input-search-product").keyup(function (e) {
        var value = $(this).val();
        console.log(value);

        $.ajax({
          type: "GET",
          url: "{{ path('searchProduct') }}",
          data: { searchProductData: value },

          success: function (result) {
            console.log("result");
            if (result) {
              console.log(result);

              $(".shop-items__container").empty();
              $(".shop-items__container").hide();
              $(".shop-items__container2").empty();
              $("#shop-items__containerFilterId").show();

              $.each(JSON.parse(result), function (i, obj) {
                console.log(obj);

                var $newDiv11 = $("<div>" + obj.description + "</div>");
                //newDiv1 : div container: contains newDiv2 newDiv3 newDiv4
                var $newDiv1 = $("<div></div>").addClass("shop-items__card");

                var $newDiv2 = $("<div></div>").addClass("shop-items__card-img-container");
                var $newDiv3 = $("<div></div>").addClass("shop-items__info");
                var $newDiv4 = $("<div></div>").addClass("shop__items__cart");

                //in $newDiv2
                var $newImg = $("<img />").addClass("shop-items__card-img");
                var imagePath = "{{ app.request.basePath }}contents/uploads/products/" + obj.Image;
                $newImg.attr("src", imagePath);

                //in newdiv3
                var $newDiv5 = $("<div>" + obj.nomProduit + "</div>").addClass(
                  "shop-items__info__title"
                );
                var $newP = $("<p>" + obj.description + "</p>").addClass(
                  "shop-items__info__description"
                );

                //in newdiv4
                var $newH1 = $("<div>$" + obj.prixProduit + " / " + obj.prix_point_produit + "pts</div>").addClass("shop__items__cart__price");
                var $newLink = $("<a></a>").attr("href", "/commandes/add/" + obj.id + "").addClass("shop__items__cart__btn").text("Add to cart");

                $(".shop-items__container2").append($newDiv1);
                $newDiv1.append($newDiv2);
                $newDiv1.append($newDiv3);
                $newDiv1.append($newDiv4);

                $newDiv2.append($newImg);

                $newDiv3.append($newDiv5);
                $newDiv3.append($newP);

                $newDiv4.append($newH1);
                $newDiv4.append($newLink);
              });
            }
          },
          error: function (xhr, status, error) {
            console.log("Error: " + error);
          },
        });


      });
    });
  </script>

  <script>
    $(function () {
      $("#search_product_Image").change(function (event) {
        console.log("test");
        var x = URL.createObjectURL(event.target.files[0]);
        $("#searchByImage-content__img").attr("src", x);
        $(".searchByImage-content__img-container").show(0);
        $(".heightBtn").show(0);
        $(".bx-images").hide(0);
        $(".searchByImage-btn").hide(0);
        

      });
    });
  </script>
    

  <script>
  /*
     $(document).ready(function () {
      $(".notification-icon").click(function () {
        $(".notif-model__toggle").show(0);
        $(".bxs-up-arrow-notif").show(0);
      });
    });
    */

    $(document).ready(function () {
      $(".notification-icon").click(function (event) {
        event.stopPropagation(); // Empêcher la propagation de l'événement click jusqu'au document

        $(".notif-model__toggle").show(0);
        $(".bxs-up-arrow-notif").show(0);

        // Ajouter un gestionnaire d'événement click au document
        $(document).click(function (event) {
          // Vérifier si l'événement a été déclenché en dehors de .notification-icon et .notif-model__toggle
          if (!$(event.target).closest(".notification-icon, .notif-model__toggle").length) {
            // Masquer les éléments
            $(".notif-model__toggle").hide(0);
            $(".bxs-up-arrow-notif").hide(0);

            // Supprimer le gestionnaire d'événement click du document
            $(document).off("click");
          }
        });
      });
    });


    function MarkAsRead(x) {
      //$("#chevron-down" + x).toggle(0);
      $("#notif-model__toggle-content-one-notif" + x).toggle();
      $("#hrNotif" + x).toggle();
      var number = parseInt($("#notifNumber").text()); // get current value of number
      $("#notifNumber").text(number - 1); // increment the number by 1 and update the text
      
      const notifId = $("#notif-model__toggle-content-one-notif" + x).data("id");
      console.log(notifId);

      $.ajax({
        type: "GET",
        url: "{{ path('userNotificationsGoTo') }}",
        data: { notifId: notifId },

        success: function (result) {
          console.log("result");
          if (result) {
            console.log(result);
                


          }
        },
        error: function (xhr, status, error) {
          console.log("Error: " + error);
        },
      });


    }
    
  
  </script>
    



  {% endblock %}
