{% extends 'front/frontBase.html.twig' %}

{% block bgColor %}
<style>
body{
    background-color:#DEFEE6;
  }
</style>
{% endblock %}

{% block frontContent %}
{% block nav %}
{% endblock  %}

<div class="products-list__header">
  <div class="products-list__gif1-container">
    <img src="./contents/img/leaves.gif" class="products-list__gif1" alt="" />
  </div>
  <h1 class="products-list__title">Shop</h1>
  <div class="products-list__gif2-container">
    <img src="./contents/img/leaves.gif" class="products-list__gif2" alt="" />
  </div>
</div>

<div class="all-products-list__container">
  <div class="shopfront-img-container">
    <img src="./contents/img/shopFront.svg" class="shopfront-img" alt="" />
  </div>

  <div class="shop-items__container">
    {% for p in products %}
    <div class="shop-items__card">
      <div class="shop-items__card-img-container">
        <img
          src="{{asset('./contents/uploads/products/') ~ p.image}}"
          class="shop-items__card-img"
          alt=""
        />
      </div>
      <div class="shop-items__info">
        <div class="shop-items__info__title">{{p.nomProduit}}</div>
        <p class="shop-items__info__description">
          {{p.description}}
        </p>
      </div>
      <div class="shop__items__cart">
        <h1 class="shop__items__cart__price">${{p.prixProduit}} / {{p.prixPointProduit}}pts</h1>
        <a href="#" class="shop__items__cart__btn">Add to cart</a>
      </div>
    </div>
    {% endfor %}
    {#----------end card1--------------#}


  </div>
</div>

{% endblock %}
