{% extends 'dash_user/dashUserBase.html.twig' %}


{% block dashContent %}
<div class="dash-user-fund">
    <div class="dash-user-home__greeting">
        <span class="dash-user-home__greeting--span-1">Shop |</span>
        <h1 class="dash-user-home__greeting--span-2">Hello Nabil, Are you ready to help people and the nature again ?
        </h1>
    </div>

    <h1>search input here</h1>
    <div class="dash-user-fund__container">

        <div class="dash-user-fund__container--left">
            <br><br><br><br>
            <h2>filters here</h2>
        </div>

        <div class="dash-user-fund__container--right">

            <div class="shop--2__item">
                <div class="shop--2__item__img__container">
                    <img class="shop--2__item__img" src="{{asset('./assets/img/toothBrush2.jpg')}}" alt="">
                </div>

                <div class="shop--2__item__info">
                    <h1 class="shop--2__item__info__title">Bamboo Toothbrushes</h1>
                    <p class="shop--2__item__info__description">Trail Hut 2 Tent with Footprint</p>
                </div>


                <div class="shop--2__item__cart">
                    <h1 class="shop--2__item__cart__price">$25.99</h1>
                    <a href="#" class="shop--2__item__cart__btn">Add to cart</a>
                </div>

            </div>

            <div class="shop--2__item">
                <div class="shop--2__item__img__container">
                    <img class="shop--2__item__img" src="{{asset('./assets/img/toothBrush2.jpg')}}" alt="">
                </div>

                <div class="shop--2__item__info">
                    <h1 class="shop--2__item__info__title">Bamboo Toothbrushes</h1>
                    <p class="shop--2__item__info__description">Trail Hut 2 Tent with Footprint</p>
                </div>


                <div class="shop--2__item__cart">
                    <h1 class="shop--2__item__cart__price">$25.99</h1>
                    <a href="#" class="shop--2__item__cart__btn">Add to cart</a>
                </div>

            </div>

            <div class="shop--2__item">
                <div class="shop--2__item__img__container">
                    <img class="shop--2__item__img" src="{{asset('./assets/img/toothBrush2.jpg')}}" alt="">
                </div>

                <div class="shop--2__item__info">
                    <h1 class="shop--2__item__info__title">Bamboo Toothbrushes</h1>
                    <p class="shop--2__item__info__description">Trail Hut 2 Tent with Footprint</p>
                </div>


                <div class="shop--2__item__cart">
                    <h1 class="shop--2__item__cart__price">$25.99</h1>
                    <a href="#" class="shop--2__item__cart__btn">Add to cart</a>
                </div>

            </div>

            <div class="shop--2__item">
                <div class="shop--2__item__img__container">
                    <img class="shop--2__item__img" src="{{asset('./assets/img/toothBrush2.jpg')}}" alt="">
                </div>

                <div class="shop--2__item__info">
                    <h1 class="shop--2__item__info__title">Bamboo Toothbrushes</h1>
                    <p class="shop--2__item__info__description">Trail Hut 2 Tent with Footprint</p>
                </div>


                <div class="shop--2__item__cart">
                    <h1 class="shop--2__item__cart__price">$25.99</h1>
                    <a href="#" class="shop--2__item__cart__btn">Add to cart</a>
                </div>

            </div>

            <div class="shop--2__item">
                <div class="shop--2__item__img__container">
                    <img class="shop--2__item__img" src="{{asset('./assets/img/toothBrush2.jpg')}}" alt="">
                </div>

                <div class="shop--2__item__info">
                    <h1 class="shop--2__item__info__title">Bamboo Toothbrushes</h1>
                    <p class="shop--2__item__info__description">Trail Hut 2 Tent with Footprint</p>
                </div>


                <div class="shop--2__item__cart">
                    <h1 class="shop--2__item__cart__price">$25.99</h1>
                    <a href="#" class="shop--2__item__cart__btn">Add to cart</a>
                </div>

            </div>

            <div class="shop--2__item">
                <div class="shop--2__item__img__container">
                    <img class="shop--2__item__img" src="{{asset('./assets/img/toothBrush2.jpg')}}" alt="">
                </div>

                <div class="shop--2__item__info">
                    <h1 class="shop--2__item__info__title">Bamboo Toothbrushes</h1>
                    <p class="shop--2__item__info__description">Trail Hut 2 Tent with Footprint</p>
                </div>


                <div class="shop--2__item__cart">
                    <h1 class="shop--2__item__cart__price">$25.99</h1>
                    <a href="#" class="shop--2__item__cart__btn">Add to cart</a>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}