{% extends 'dash_user/dashUserBase.html.twig' %}


{% block dashContent %}
<div class="t t__open"></div>
<div class="dash-user-fund">
    <div class="dash-user-home__greeting">
        <span class="dash-user-home__greeting--span-1">Profile |</span>
        <h1 class="dash-user-home__greeting--span-2">Hello Nabil, Are you ready to help people and the nature again ?
        </h1>
    </div>

    <div class="dash-user-profile">
        {# dash-user-profile #}
        <div style="cursor: pointer;" class="dash-user-profile__update-btn" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs" x="0" y="0" viewbox="0 0 348.882 348.882" xml:space="preserve"
                class="dash-user-profile__update-btn__icon">
                <g>
                    <path
                        d="m333.988 11.758-.42-.383A43.363 43.363 0 0 0 304.258 0a43.579 43.579 0 0 0-32.104 14.153L116.803 184.231a14.993 14.993 0 0 0-3.154 5.37l-18.267 54.762c-2.112 6.331-1.052 13.333 2.835 18.729 3.918 5.438 10.23 8.685 16.886 8.685h.001c2.879 0 5.693-.592 8.362-1.76l52.89-23.138a14.985 14.985 0 0 0 5.063-3.626L336.771 73.176c16.166-17.697 14.919-45.247-2.783-61.418zM130.381 234.247l10.719-32.134.904-.99 20.316 18.556-.904.99-31.035 13.578zm184.24-181.304L182.553 197.53l-20.316-18.556L294.305 34.386c2.583-2.828 6.118-4.386 9.954-4.386 3.365 0 6.588 1.252 9.082 3.53l.419.383c5.484 5.009 5.87 13.546.861 19.03z"
                        fill="currentColor" data-original="#000000" class=""></path>
                    <path
                        d="M303.85 138.388c-8.284 0-15 6.716-15 15v127.347c0 21.034-17.113 38.147-38.147 38.147H68.904c-21.035 0-38.147-17.113-38.147-38.147V100.413c0-21.034 17.113-38.147 38.147-38.147h131.587c8.284 0 15-6.716 15-15s-6.716-15-15-15H68.904C31.327 32.266.757 62.837.757 100.413v180.321c0 37.576 30.571 68.147 68.147 68.147h181.798c37.576 0 68.147-30.571 68.147-68.147V153.388c.001-8.284-6.715-15-14.999-15z"
                        fill="currentColor" data-original="#000000" class=""></path>
                </g>
            </svg>
        </div>
        <div class="dash-user-profile__update__card dash-user-profile__update__card__open">
            <div class="dash-user-profile__update__card__container">


                <div class="form-2">
                    <h1 class="form-2__heading">Update Account</h1>

                    {{ form_start(registreForm,{'attr': {'novalidate': 'novalidate','autocomplete': 'off'}}) }}


                    <div class="product-add-form__input__group">
                        <label for="productImage" class="product-add-form__input__label">Profile Image
                            <span>*</span>
                        </label>
                        <div class="product-add-form-image">
                            <div class="prouct-add-form-image__container">
                                <i class="bx bx-cloud-upload"></i>
                                <img class="prouct-add-form-image__img" src="" alt="" id="prouct-add-form-image__img"
                                    accept="image/*" style="display: none" />
                            </div>
                            <div class="prouct-add-form-image__description">
                                <p>
                                    Resolution : 1920x1080 px
                                    <br />
                                    Supported file types : jpg,
                                    <br />
                                    .jpeg ,. gif ou .png No text<br />
                                    on the image.
                                </p>
                                <div class="prouct-add-form-image__add">
                                    <label for="update_user_ProfilePic" class="prouct-add-form-image__addBtn">
                                        <i class="bx bx-upload"></i>
                                        Choose a photo
                                    </label>
                                    {# <input name="prouct-add-form-image__file-btn" type="file"
                                        id="prouct-add-form-image__file-btn" value="Choose a photo"
                                        class="prouct-add-form-image__file-btn" style="display: none" /> #}

                                    {{form_widget(registreForm.ProfilePic)}}

                                    <div class="form_alert form_alert_error">
                                        {{ form_errors(registreForm.ProfilePic)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-2__input__group">
                        <label for="fullname" class="form-2__input__label">Fullname<span>*</span>
                        </label>
                        {# <input id="fullname" name="fullname" type="text" class="form-2__input"
                            placeholder="Fullname">
                        #}
                        {{form_widget(registreForm.fullName, {'attr': {'class':
                        'form-2__input','placeholder':"Fullname"}})}}
                        <div class="form_alert form_alert_error">
                            {{ form_errors(registreForm.fullName)}}
                        </div>

                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="form-2__input__icon">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </div>


                    <div class="form-2__input__group">
                        <label for="fullname" class="form-2__input__label">Description<span>*</span>
                        </label>
                        {# <input id="fullname" name="fullname" type="text" class="form-2__input"
                            placeholder="Fullname">
                        #}
                        {{form_widget(registreForm.description, {'attr': {'class':
                        'form-2__input','placeholder':"Description"}})}}

                    </div>


                    {# <div class="form-2__input__group">
                        <label for="email" class="form-2__input__label">Email<span>*</span>
                        </label>
                        {{form_widget(registreForm.email, {'attr': {'class': 'form-2__input','placeholder':"Email"}})}}
                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="form-2__input__icon">
                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                            </path>
                            <polyline points="22,6 12,13 2,6"></polyline>
                        </svg>

                        <div class="form_alert form_alert_error">
                            {{ form_errors(registreForm.email)}}
                        </div>

                    </div> #}


                    <div class="form-2__input__group">
                        <label for="phone" class="form-2__input__label">Phone Number<span>*</span>
                        </label>
                        {# <input id="phone" name="phone" type="number" class="form-2__input"
                            placeholder="Phone Number">
                        #}
                        {{form_widget(registreForm.tel, {'attr': {'class': 'form-2__input','placeholder':"Phone
                        Number"}})}}
                        <div class="form_alert form_alert_error">
                            {{ form_errors(registreForm.tel)}}
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="form-2__input__icon">
                            <path
                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                            </path>
                        </svg>
                    </div>


                    {# <div class="form-2__input__group-password">
                        <div class="form-2__input__group" style="margin-right: 10px;">
                            <label for="password" class="form-2__input__label">Password<span>*</span>
                            </label>

                            {{form_widget(registreForm.password.first, {'attr': {'class':
                            'form-2__input','placeholder':"Password"}})}}
                            <div class="form_alert form_alert_error">
                                {{ form_errors(registreForm.password.first)}}
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="form-2__input__icon">
                                <path
                                    d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4">
                                </path>
                            </svg>
                        </div>

                        <div class="form-2__input__group">
                            <label for="repassword" class="form-2__input__label">Confirm Password<span>*</span>
                            </label>

                            {{form_widget(registreForm.password.second, {'attr': {'class':
                            'form-2__input','placeholder':"Confirm Password"}})}}
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="form-2__input__icon">
                                <path
                                    d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4">
                                </path>
                            </svg>

                        </div>

                    </div> #}

                    <div class="form-2__input__group">
                        <label for="email" class="form-2__input__label">Facebook profile<span>*</span>
                        </label>
                        {# <input id="email" name="email" type="email" class="form-2__input" placeholder="Email"> #}
                        {{form_widget(registreForm.fbLink, {'attr': {'class':
                        'form-2__input','placeholder':"Profile URL"}})}}
                        <svg class="form-2__input__icon" xmlns="http://www.w3.org/2000/svg" version="1.1"
                            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" x="0" y="0"
                            viewbox="0 0 48 48" xml:space="preserve">
                            <g>
                                <path
                                    d="M13.02 18.71s-2.05 2.055-4.35 4.356a11.297 11.297 0 0 0-3.32 8.006c0 3.002 1.19 5.882 3.32 8.005.08.084.16.168.25.252 2.12 2.123 5 3.316 8 3.316 3.01 0 5.89-1.193 8.01-3.316 2.3-2.3 4.36-4.356 4.36-4.356a2.51 2.51 0 0 0 0-3.535 2.506 2.506 0 0 0-3.54 0s-2.06 2.055-4.36 4.356a6.308 6.308 0 0 1-4.47 1.851c-1.67 0-3.28-.666-4.47-1.851l-.25-.252a6.345 6.345 0 0 1-1.85-4.47c0-1.677.67-3.285 1.85-4.471 2.3-2.3 4.36-4.356 4.36-4.356a2.51 2.51 0 0 0 0-3.535 2.506 2.506 0 0 0-3.54 0zm14.88-2.148-11.34 11.34c-.98.976-.98 2.56 0 3.536.97.975 2.56.975 3.53 0l11.34-11.341c.98-.976.98-2.56 0-3.535a2.494 2.494 0 0 0-3.53 0zm7.04 12.753 4.38-4.38a11.297 11.297 0 0 0 3.32-8.006c0-3.002-1.19-5.882-3.32-8.005-.08-.084-.16-.168-.25-.252-2.12-2.124-5-3.316-8-3.316a11.31 11.31 0 0 0-8.01 3.316c-2.3 2.299-4.35 4.354-4.35 4.354-.98.976-.98 2.56 0 3.536.97.975 2.56.975 3.53 0 0 0 2.06-2.055 4.36-4.355a6.308 6.308 0 0 1 4.47-1.851c1.67 0 3.28.666 4.47 1.851l.25.252a6.345 6.345 0 0 1 1.85 4.47c0 1.677-.67 3.285-1.85 4.471-2.31 2.311-4.38 4.379-4.38 4.379-.98.976-.98 2.56 0 3.536.97.975 2.56.975 3.53 0z"
                                    fill="currentColor" data-original="#000000"></path>
                            </g>
                        </svg>

                    </div>

                    <div class="form-2__input__group">
                        <label for="email" class="form-2__input__label">Twitter profile<span>*</span>
                        </label>
                        {# <input id="email" name="email" type="email" class="form-2__input" placeholder="Email"> #}
                        {{form_widget(registreForm.twitterLink, {'attr': {'class':
                        'form-2__input','placeholder':"Profile URL"}})}}
                        <svg class="form-2__input__icon" xmlns="http://www.w3.org/2000/svg" version="1.1"
                            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" x="0" y="0"
                            viewbox="0 0 48 48" xml:space="preserve">
                            <g>
                                <path
                                    d="M13.02 18.71s-2.05 2.055-4.35 4.356a11.297 11.297 0 0 0-3.32 8.006c0 3.002 1.19 5.882 3.32 8.005.08.084.16.168.25.252 2.12 2.123 5 3.316 8 3.316 3.01 0 5.89-1.193 8.01-3.316 2.3-2.3 4.36-4.356 4.36-4.356a2.51 2.51 0 0 0 0-3.535 2.506 2.506 0 0 0-3.54 0s-2.06 2.055-4.36 4.356a6.308 6.308 0 0 1-4.47 1.851c-1.67 0-3.28-.666-4.47-1.851l-.25-.252a6.345 6.345 0 0 1-1.85-4.47c0-1.677.67-3.285 1.85-4.471 2.3-2.3 4.36-4.356 4.36-4.356a2.51 2.51 0 0 0 0-3.535 2.506 2.506 0 0 0-3.54 0zm14.88-2.148-11.34 11.34c-.98.976-.98 2.56 0 3.536.97.975 2.56.975 3.53 0l11.34-11.341c.98-.976.98-2.56 0-3.535a2.494 2.494 0 0 0-3.53 0zm7.04 12.753 4.38-4.38a11.297 11.297 0 0 0 3.32-8.006c0-3.002-1.19-5.882-3.32-8.005-.08-.084-.16-.168-.25-.252-2.12-2.124-5-3.316-8-3.316a11.31 11.31 0 0 0-8.01 3.316c-2.3 2.299-4.35 4.354-4.35 4.354-.98.976-.98 2.56 0 3.536.97.975 2.56.975 3.53 0 0 0 2.06-2.055 4.36-4.355a6.308 6.308 0 0 1 4.47-1.851c1.67 0 3.28.666 4.47 1.851l.25.252a6.345 6.345 0 0 1 1.85 4.47c0 1.677-.67 3.285-1.85 4.471-2.31 2.311-4.38 4.379-4.38 4.379-.98.976-.98 2.56 0 3.536.97.975 2.56.975 3.53 0z"
                                    fill="currentColor" data-original="#000000"></path>
                            </g>
                        </svg>

                    </div>


                    <div class="form-2__input__group">
                        <label for="email" class="form-2__input__label">Instagram profile<span>*</span>
                        </label>
                        {# <input id="email" name="email" type="email" class="form-2__input" placeholder="Email"> #}
                        {{form_widget(registreForm.instaLink, {'attr': {'class':
                        'form-2__input','placeholder':"Profile URL"}})}}
                        <svg class="form-2__input__icon" xmlns="http://www.w3.org/2000/svg" version="1.1"
                            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" x="0" y="0"
                            viewbox="0 0 48 48" xml:space="preserve">
                            <g>
                                <path
                                    d="M13.02 18.71s-2.05 2.055-4.35 4.356a11.297 11.297 0 0 0-3.32 8.006c0 3.002 1.19 5.882 3.32 8.005.08.084.16.168.25.252 2.12 2.123 5 3.316 8 3.316 3.01 0 5.89-1.193 8.01-3.316 2.3-2.3 4.36-4.356 4.36-4.356a2.51 2.51 0 0 0 0-3.535 2.506 2.506 0 0 0-3.54 0s-2.06 2.055-4.36 4.356a6.308 6.308 0 0 1-4.47 1.851c-1.67 0-3.28-.666-4.47-1.851l-.25-.252a6.345 6.345 0 0 1-1.85-4.47c0-1.677.67-3.285 1.85-4.471 2.3-2.3 4.36-4.356 4.36-4.356a2.51 2.51 0 0 0 0-3.535 2.506 2.506 0 0 0-3.54 0zm14.88-2.148-11.34 11.34c-.98.976-.98 2.56 0 3.536.97.975 2.56.975 3.53 0l11.34-11.341c.98-.976.98-2.56 0-3.535a2.494 2.494 0 0 0-3.53 0zm7.04 12.753 4.38-4.38a11.297 11.297 0 0 0 3.32-8.006c0-3.002-1.19-5.882-3.32-8.005-.08-.084-.16-.168-.25-.252-2.12-2.124-5-3.316-8-3.316a11.31 11.31 0 0 0-8.01 3.316c-2.3 2.299-4.35 4.354-4.35 4.354-.98.976-.98 2.56 0 3.536.97.975 2.56.975 3.53 0 0 0 2.06-2.055 4.36-4.355a6.308 6.308 0 0 1 4.47-1.851c1.67 0 3.28.666 4.47 1.851l.25.252a6.345 6.345 0 0 1 1.85 4.47c0 1.677-.67 3.285-1.85 4.471-2.31 2.311-4.38 4.379-4.38 4.379-.98.976-.98 2.56 0 3.536.97.975 2.56.975 3.53 0z"
                                    fill="currentColor" data-original="#000000"></path>
                            </g>
                        </svg>

                    </div>


                    <!-- <a href="#" class="primary-btn primary-btn-form">Sign Up</a> -->
                    {# <input class="navigation__primary-btn form-2__btn" type="submit" value="Sign Up"> #}


                    {{form_end(registreForm)}}
                </div>
            </div>
        </div>


        <img src="{{asset('./assets/uploads/img/defaultPic.jpg')}}" alt="" class="dash-user-profile__img">
        <div class="dash-user-profile__description">
            <h1 class="dash-user-profile__description__title">Description</h1>
            <p class="dash-user-profile__description__parag">
                {{user.description}}
            </p>
        </div>
        <div class="dash-user-profile__info">
            <div class="dash-user-profile__info__left">
                <div class="dash-user-profile__data-group">
                    <h1 class="dash-user-profile__data-group__title">Fullname</h1>
                    <p class="dash-user-profile__data-group__parag">{{user.fullname}}</p>
                </div>

                <div class="dash-user-profile__data-group">
                    <h1 class="dash-user-profile__data-group__title">Email</h1>
                    <p class="dash-user-profile__data-group__parag">{{user.email}}</p>
                </div>
            </div>

            <div class="dash-user-profile__info__right">
                <div class="dash-user-profile__data-group">
                    <h1 class="dash-user-profile__data-group__title">Phone number</h1>
                    <p class="dash-user-profile__data-group__parag">{{user.tel}}</p>
                </div>

            </div>
        </div>
        <div class="footer__content__social-media footer__content__social-media-2" style="margin: 0 auto;">
            <a target="_blank" href="{{user.fblink}}"><img src="{{asset('./assets/img/fb.svg')}}" alt=""
                    class="social-media__logo social-media__logo-2"></a>

            <a target="_blank" href="{{user.twitterLink}}"><img src="{{asset('./assets/img/twitter.svg')}}" alt=""
                    class="social-media__logo social-media__logo-2"></a>

            <a target="_blank" href="{{user.instaLink}}"><img src="{{asset('./assets/img/insta.svg')}}" alt=""
                    class="social-media__logo social-media__logo-2"></a>
        </div>

    </div>
</div>
{% endblock %}

{% block JsScript %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{asset('./assets/js/refactorScript.js')}}"></script>
<script src="{{asset('./assets/js/script.js')}}"></script>
{% endblock %}