{% extends 'dash_user/dashUserBase.html.twig' %}


{% block dashContent %}
<div class="t"></div>
{% for message in app.flashes('success') %}
<div style="margin-top: 6rem; margin-left:2rem;" class="flash flash__success">
    {{ message }}
</div>
{% endfor %}

{% for message in app.flashes('warning') %}
<div style="margin-top: 6rem; margin-left:2rem;" class="flash flash__error">
    {{ message }}
</div>
{% endfor %}
<div class="dash-user-fund">
    <div class="dash-user-home__greeting">
        <span class="dash-user-home__greeting--span-1">Profile |</span>
        <h1 class="dash-user-home__greeting--span-2">Hello Nabil, Are you ready to help people and the nature again ?
        </h1>
    </div>

    <div style="height: 50rem;" class="dash-user-profile">

        <a style="cursor: pointer;" class="dash-user-profile__update-btn"
            href="{{path('app_dash_user_profile_update')}}">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs" x="0" y="0" viewbox="0 0 348.882 348.882" xml:space="preserve"
                class="dash-user-profile__update-btn__icon">
                <g>
                    <path
                        d="m333.988 11.758-.42-.383A43.363 43.363 0 0 0 304.258 0a43.579 43.579 0 0 0-32.104 14.153L116.803 184.231a14.993 14.993 0 0 0-3.154 5.37l-18.267 54.762c-2.112 6.331-1.052 13.333 2.835 18.729 3.918 5.438 10.23 8.685 16.886 8.685h.001c2.879 0 5.693-.592 8.362-1.76l52.89-23.138a14.985 14.985 0 0 0 5.063-3.626L336.771 73.176c16.166-17.697 14.919-45.247-2.783-61.418zM130.381 234.247l10.719-32.134.904-.99 20.316 18.556-.904.99-31.035 13.578zm184.24-181.304L182.553 197.53l-20.316-18.556L294.305 34.386c2.583-2.828 6.118-4.386 9.954-4.386 3.365 0 6.588 1.252 9.082 3.53l.419.383c5.484 5.009 5.87 13.546.861 19.03z"
                        fill="currentColor" data-original="#000000" class=""></path>
                    <path
                        d="M303.85 138.388c-8.284 0-15 6.716-15 15v127.347c0 21.034-17.113 38.147-38.147 38.147H68.904c-21.035 0-38.147-17.113-38.147-38.147V100.413c0-21.034 17.113-38.147 38.147-38.147h131.587c8.284 0 15-6.716 15-15s-6.716-15-15-15H68.904C31.327 32.266.757 62.837.757 100.413v180.321c0 37.576 30.571 68.147 68.147 68.147h181.798c37.576 0 68.147-30.571 68.147-68.147V153.388c.001-8.284-6.715-15-14.999-15z"
                        fill="currentColor" data-original="#000000" class=""></path>
                </g>
            </svg>
        </a>
        <div class="dash-user-profile__update__card">
            <div style="height:fit-content" class="dash-user-profile__update__card__container">

                <div class="dash-user-profile__update__card__btn-close">
                    <svg class="dash-user-profile__update__card__btn-close__icon" xmlns="http://www.w3.org/2000/svg"
                        version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                        x="0" y="0" viewBox="0 0 320.591 320.591" xml:space="preserve">
                        <g>
                            <path
                                d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                                fill="currentColor" data-original="#000000"></path>
                            <path
                                d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                                fill="currentColor" data-original="#000000"></path>
                        </g>
                    </svg>
                </div>

                <div style="min-height: fit-content;" class="form-2">
                    <h1 class="form-2__heading">Update Account</h1>

                    {{ form_start(changePassForm,{'attr': {'novalidate': 'novalidate','autocomplete': 'off'}}) }}


                    <div class="form-2__input__group" style="margin-right: 10px;">
                        <label for="password" class="form-2__input__label">Old Password<span>*</span>
                        </label>
                        {{form_widget(changePassForm.oldPassword, {'attr': {'class':
                        'form-2__input','placeholder':"Password"}})}}

                        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="form-2__input__icon">
                            <path
                                d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4">
                            </path>
                        </svg>
                    </div>


                    <div class="form-2__input__group-password">
                        <div class="form-2__input__group" style="margin-right: 10px;">
                            <label for="password" class="form-2__input__label">New Password<span>*</span>
                            </label>
                            {{form_widget(changePassForm.password.first, {'attr': {'class':
                            'form-2__input','placeholder':"Password"}})}}
                            <div class="form_alert form_alert_error">
                                {{ form_errors(changePassForm.password.first)}}
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="form-2__input__icon">
                                <path
                                    d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4">
                                </path>
                            </svg>
                        </div>

                        <div class="form-2__input__group">
                            <label for="repassword" class="form-2__input__label">Confirm Password<span>*</span>
                            </label>
                            {{form_widget(changePassForm.password.second, {'attr': {'class':
                            'form-2__input','placeholder':"Confirm Password"}})}}
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="none" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="form-2__input__icon">
                                <path
                                    d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4">
                                </path>
                            </svg>

                        </div>

                    </div>



                    {{form_end(changePassForm)}}
                </div>
            </div>
        </div>


        <img src="{{asset('./assets/uploads/img/' ~ user.imgUrl)}}" alt="" class="dash-user-profile__img">
        <div class="dash-user-profile__description">
            <h1 class="dash-user-profile__description__title">Description</h1>
            <p class="dash-user-profile__description__parag">
                {{user.description}}
            </p>
        </div>
        <div class="dash-user-profile__info">
            <div class="dash-user-profile__info__left">
                <div class="dash-user-profile__data-group">
                    <h1 class="dash-user-profile__data-group__title">Fullname</h1>
                    <p class="dash-user-profile__data-group__parag">{{user.fullname}}</p>
                </div>

                <div style="margin-bottom: 3rem;" class="dash-user-profile__data-group">
                    <h1 class="dash-user-profile__data-group__title">Email</h1>
                    <p class="dash-user-profile__data-group__parag">{{user.email}}</p>
                </div>

                <a style="display: block; margin-left: -2rem"
                    class="navigation__primary-btn form__btn changePassBtn">change password</a>
            </div>

            <div class="dash-user-profile__info__right">
                <div class="dash-user-profile__data-group">
                    <h1 class="dash-user-profile__data-group__title">Phone number</h1>
                    <p class="dash-user-profile__data-group__parag">{{user.tel}}</p>
                </div>

            </div>
        </div>


        <div class="footer__content__social-media footer__content__social-media-2" style="margin: 0 auto;">
            <a target="_blank" href="{{user.fblink}}"><img src="{{asset('./assets/img/fb.svg')}}" alt=""
                    class="social-media__logo social-media__logo-2"></a>

            <a target="_blank" href="{{user.twitterLink}}"><img src="{{asset('./assets/img/twitter.svg')}}" alt=""
                    class="social-media__logo social-media__logo-2"></a>

            <a target="_blank" href="{{user.instaLink}}"><img src="{{asset('./assets/img/insta.svg')}}" alt=""
                    class="social-media__logo social-media__logo-2"></a>
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{asset('./assets/js/script.js')}}"></script>
{% endblock %}

{% block JsScript %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{#
<script src="{{asset('./assets/js/refactorScript.js')}}"></script> #}
{#
<script src="{{asset('./assets/js/script.js')}}"></script> #}
{% endblock %}